@import "../../mixins/mixins.scss";
@import "../../variables/variables.scss";
@import "../../funciones/funciones.scss";

.head {
  @include head;
  border-bottom: 0.05rem solid $oro;
}
html,
body {
  //  h1 {
  //   color: $oro;
  //   -webkit-text-stroke: 0.05rem rgb(221, 216, 216);
  //   text-shadow: 0.2em 0.2em 0.3em black;
  // }
  // h2 {
  //   color: $oro;
  //   -webkit-text-stroke: 0.05rem rgb(221, 216, 216);
  //   text-shadow: 0.2rem 0.2rem 0.3rem black;
  // }
  // h3 {
  //   color: $oro;
  //   -webkit-text-stroke: 0.04rem rgb(221, 216, 216);
  //   text-shadow: 0.2em 0.2em 0.3em black;
  // }
  // h4 {
  //   color: $oro;
  //   -webkit-text-stroke: 0.03rem rgb(221, 216, 216);
  //   text-shadow: 0.2em 0.2em 0.3em black;
  // }
  // a{
  //   color:$azul
  // }
  // p {
  //   color: blanchedalmond;
  // }
  // ul {
  //   li {
  //     color: $oro;
  //       p {
  //          strong{
  //       color: $azul;
  //          }
  //     }
  //     a > p {
  //       color: $oro;
  //     }
  //   }
  // }
  .fa-arrow-alt-circle-up {
    color: $oro;
    -webkit-text-stroke: 0.1rem gray;
    text-shadow: 0.2rem 0.2rem 0.5rem black;
    background: {
      color: $blanco;
    }
  }
  .fiestas {
    .stop {
      background-color: $oro;
      border: 0.05rem solid $negro;
      border-radius: 0.9rem;
    }
    .stop:hover {
      color: $negro;
      background-color: $blanco;
      border: 0.05rem solid $oro;
    }
  }
}

/* ------------------------------------------
         social media menu
 ------------------------------------------ */
.social-media {
  background-color: $oro;
}

/* ------------------------------------------
         menu
------------------------------------------ */
.stick {
  .nav {
    border-bottom: 0.05rem solid $oro;
      .navbar {
      .foto {
        img {
          // border: 0.05rem solid $oro; 
        }
      }
      .menu {
        .links {
          .enlace {
            color: $oro;
            p{
              color: $oro;
            } 
          }
          .irInicio:hover,
          .irBiografia:hover,
          .irWebs:hover,
          .irGaleria:hover,
          .irCurriculum:hover,
          .irContacto:hover,
          .irInicio:focus,
          .irBiografia:focus,
          .irWebs:focus,
          .irGaleria:focus,
          .irCurriculum:focus,
          .irContacto:focus {
            //background-color: rgba(78, 78, 32, 0.582);
          }
        }
      }
      .mode {
        background: {
          // color: pink;
        }
        .noche {
          color: $oro;
        }
        .dia {
          color: $oro;
        }
      }
    }
  }
}
//------------------------\\
//  footer  \\
//------------------------\\
* {
  footer {
    border-top: 0.1rem solid $oro;
    background: {
      color: black;
    }
    .footerContainer {
      color: $blanco;
      .contacto,
      .direccion,
      .paginas {
        h2 {
          color: $oro;
          -webkit-text-stroke: 0.05rem rgb(221, 216, 216);
          // text-shadow: 0.05em 0.05em 0.1em $blanco;
        }
        p {
        }
        a {
          // color: blanchedalmond;
        }
        input[type="email"] {
          border: 0.1rem solid $oro;
        }
        input[type="submit"] {
          background: $oro;
          color: $blanco;

          border: 0.1rem solid $oro;

          border: 0.05rem solid $blanco;
        }
        input[type="submit"]:hover {
          background-color: rgba(78, 78, 32, 0.582);
        }
        .fa {
          color: red;
        }
        .datos {
          p {
          }
        }
        .diseños {
          p {
          }
        }
      }
    }
    .redes {
      background: #000;
      border-top: 0.1rem solid $oro;
      .propiedad {
        .socialmedia {
          .iconSocial {
            img {
            }
          }
        }
      }
      .copy {
        color: $blanco;
        border-bottom: 0.1rem solid $oro;
      }
      .politicas {
        //background-color: blue;
        p {
        }
        a {
        }
      }
    }
  }
}
/*------------------------
             galeria
------------------------*/
.miniaturas {
  .repertorio {
    h3 {
      color: $oro;
      // font-size: 3rem;
      // color: $blanco;
      // margin: 1rem 0rem 0.5rem 0rem;
      // -webkit-text-stroke: 0.04rem rgb(221, 216, 216);
      // text-shadow: 0.2em 0.2em 0.3em black;
    }
    .title {
    }
    .raya {
      border-color: $oro;
    }
    .fila {
      .imagenPresentacion {
        // border: 0.4rem solid #eeeeee;
      }
    }
  }
}
.menuGaleria {
  background-color: $oro;
  .boton {
    color: $negro;
  }
}
/*------------------------
             webs
------------------------*/
.web {
  .primeroscoc,
  .guerrasOnline,
  .tiendaTitanium,
  .titaniumGamers,
  .portfolio {
    border-color: $oro;
  }
}
/*----------------
     curriculum
-----------------*/
.descripcion {
  .año {
    color: $oro;
  }
  h1,
  strong {
    color: $oro;
  }
}
.datos {
  .datosPersonales {
    border: 0.2rem solid $oro;
    h2 {
      color: $oro;
    }
    h3{
      color:$oro;
    }
  }
  .experiencia {
    border: 0.2rem solid $oro;
  }
  .interes {
    border: 0.1rem solid $oro;
  }
}
//------------------------\\
//  RESPONSIVE  \\
//------------------------\\
@media screen and (max-width: 650px) {
  footer {
    .footerContainer {
      flex-wrap: wrap;

      .contacto {
        width: 90%;
      }
      .direccion {
        margin-top: 5rem;

        width: 90%;
      }
      .paginas {
        margin-top: 5rem;
        width: 90%;
      }
    }
  }
}
//------------------------\\
//  nav RESPONSIVE  \\
//------------------------\\
@media only screen and (max-width: 800px) {
  .nav {
  }
  .stick {
    .movil {
      border-bottom: 0.05rem solid $oro;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
      background: {
        color: rgba(0, 0, 0, 0.438);
      }
      .imagenes {
        background: {
          // color: blue;
        }
        .foto {
          background: {
            // color: green;
          }
          img {
            // border: 3px double $oro;
            // box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
          }
        }
        .botones {
          background: {
          }
          .botonMenu {
            color: $oro;
          }

          #boton1 {
            background-color: Transparent;
            p {
            }
          }
        }
      }
      .desplegable {
        .mode {
          background: {
          }
          .noche {
            color: $oro;
          }
          .dia {
            color: $oro;
          }
          .selecEstilosDesplegar {
            color: $oro;
          }
          .selecEstilosPlegar {
            color: $oro;
          }
          img {
          }
        }
        .enlace {
          color: $oro;
          font: {
            color: $oro;
          }
        }
        .mnav-link {
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  body {
    .fiestas {
      img {
      }
      .stop {
        font-size: calc(1rem + 0.3vw);
      }
    }
  }
}
