@charset "UTF-8";
/* ---------------hovers--------------*/
.head {
  width: 100%;
  position: relative;
  border-bottom: 0.05rem solid #eabe3f;
}

.head img {
  width: 100%;
}

html .fa-arrow-alt-circle-up,
body .fa-arrow-alt-circle-up {
  color: #eabe3f;
  -webkit-text-stroke: 0.1rem gray;
  text-shadow: 0.2rem 0.2rem 0.5rem black;
  background-color: #eeeeee;
}

html .fiestas .stop,
body .fiestas .stop {
  background-color: #eabe3f;
  border: 0.05rem solid #0a0a0a;
  border-radius: 0.9rem;
}

html .fiestas .stop:hover,
body .fiestas .stop:hover {
  color: #0a0a0a;
  background-color: #eeeeee;
  border: 0.05rem solid #eabe3f;
}

/* ------------------------------------------
         social media menu
 ------------------------------------------ */
.social-media {
  background-color: #eabe3f;
}

/* ------------------------------------------
         menu
------------------------------------------ */
.stick .nav {
  border-bottom: 0.05rem solid #eabe3f;
}

.stick .nav .navbar .menu .links .enlace {
  color: #eabe3f;
}

.stick .nav .navbar .menu .links .enlace p {
  color: #eabe3f;
}

.stick .nav .navbar .mode .noche {
  color: #eabe3f;
}

.stick .nav .navbar .mode .dia {
  color: #eabe3f;
}

* footer {
  border-top: 0.1rem solid #eabe3f;
  background-color: black;
}

* footer .footerContainer {
  color: #eeeeee;
}

* footer .footerContainer .contacto h2,
* footer .footerContainer .direccion h2,
* footer .footerContainer .paginas h2 {
  color: #eabe3f;
  -webkit-text-stroke: 0.05rem #ddd8d8;
}

* footer .footerContainer .contacto input[type="email"],
* footer .footerContainer .direccion input[type="email"],
* footer .footerContainer .paginas input[type="email"] {
  border: 0.1rem solid #eabe3f;
}

* footer .footerContainer .contacto input[type="submit"],
* footer .footerContainer .direccion input[type="submit"],
* footer .footerContainer .paginas input[type="submit"] {
  background: #eabe3f;
  color: #eeeeee;
  border: 0.1rem solid #eabe3f;
  border: 0.05rem solid #eeeeee;
}

* footer .footerContainer .contacto input[type="submit"]:hover,
* footer .footerContainer .direccion input[type="submit"]:hover,
* footer .footerContainer .paginas input[type="submit"]:hover {
  background-color: rgba(78, 78, 32, 0.582);
}

* footer .footerContainer .contacto .fa,
* footer .footerContainer .direccion .fa,
* footer .footerContainer .paginas .fa {
  color: red;
}

* footer .redes {
  background: #000;
  border-top: 0.1rem solid #eabe3f;
}

* footer .redes .copy {
  color: #eeeeee;
  border-bottom: 0.1rem solid #eabe3f;
}

/*------------------------
             galeria
------------------------*/
.miniaturas .repertorio h3 {
  color: #eabe3f;
}

.miniaturas .repertorio .raya {
  border-color: #eabe3f;
}

.menuGaleria {
  background-color: #eabe3f;
}

.menuGaleria .boton {
  color: #0a0a0a;
}

/*------------------------
             webs
------------------------*/
.web .primeroscoc,
.web .guerrasOnline,
.web .tiendaTitanium,
.web .titaniumGamers,
.web .portfolio {
  border-color: #eabe3f;
}

/*----------------
     curriculum
-----------------*/
.descripcion .año {
  color: #eabe3f;
}

.descripcion h1,
.descripcion strong {
  color: #eabe3f;
}

.datos .datosPersonales {
  border: 0.2rem solid #eabe3f;
}

.datos .datosPersonales h2 {
  color: #eabe3f;
}

.datos .datosPersonales h3 {
  color: #eabe3f;
}

.datos .experiencia {
  border: 0.2rem solid #eabe3f;
}

.datos .interes {
  border: 0.1rem solid #eabe3f;
}

@media screen and (max-width: 650px) {
  footer .footerContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footerContainer .contacto {
    width: 90%;
  }
  footer .footerContainer .direccion {
    margin-top: 5rem;
    width: 90%;
  }
  footer .footerContainer .paginas {
    margin-top: 5rem;
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .stick .movil {
    border-bottom: 0.05rem solid #eabe3f;
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.438);
  }
  .stick .movil .imagenes .botones .botonMenu {
    color: #eabe3f;
  }
  .stick .movil .imagenes .botones #boton1 {
    background-color: Transparent;
  }
  .stick .movil .desplegable .mode .noche {
    color: #eabe3f;
  }
  .stick .movil .desplegable .mode .dia {
    color: #eabe3f;
  }
  .stick .movil .desplegable .mode .selecEstilosDesplegar {
    color: #eabe3f;
  }
  .stick .movil .desplegable .mode .selecEstilosPlegar {
    color: #eabe3f;
  }
  .stick .movil .desplegable .enlace {
    color: #eabe3f;
    font-color: #eabe3f;
  }
}

@media only screen and (max-width: 800px) {
  body .fiestas .stop {
    font-size: calc(1rem + 0.3vw);
  }
}
/*# sourceMappingURL=oro.css.map */