@charset "UTF-8";
/* ---------------hovers--------------*/
html .fa-arrow-alt-circle-up,
body .fa-arrow-alt-circle-up {
  color: #008f39;
  -webkit-text-stroke: 0.1rem gray;
  text-shadow: 0.2rem 0.2rem 0.5rem black;
  background-color: #eeeeee;
}

html .fiestas .stop,
body .fiestas .stop {
  color: #eeeeee;
  background-color: #008f39;
  border-color: #eeeeee;
}

html .fiestas .stop:hover,
body .fiestas .stop:hover {
  color: #008f39;
  background-color: #eeeeee;
  border-color: #008f39;
}

/* ------------------------------------------
         social media menu
 ------------------------------------------ */
.social-media {
  background-color: #008f39;
}

/* ------------------------------------------
         menu
------------------------------------------ */
.stick .nav {
  border-bottom: 0.05rem solid #008f39;
}

.stick .nav .navbar .menu .links .enlace {
  color: #008f39;
  border-color: #008f39;
}

.stick .nav .navbar .menu .links .enlace p {
  color: #008f39;
}

.stick .nav .navbar .mode .noche {
  color: #008f39;
}

.stick .nav .navbar .mode .dia {
  color: #008f39;
}

* footer {
  border-top: 0.1rem solid #008f39;
  background-color: black;
}

* footer .footerContainer {
  color: #eeeeee;
}

* footer .footerContainer .contacto h2,
* footer .footerContainer .direccion h2,
* footer .footerContainer .paginas h2 {
  color: #008f39;
  -webkit-text-stroke: 0.05rem #ddd8d8;
}

* footer .footerContainer .contacto input[type="email"],
* footer .footerContainer .direccion input[type="email"],
* footer .footerContainer .paginas input[type="email"] {
  border-color: #008f39;
}

* footer .footerContainer .contacto input[type="submit"],
* footer .footerContainer .direccion input[type="submit"],
* footer .footerContainer .paginas input[type="submit"] {
  background: #008f39;
  color: #eeeeee;
  border-color: #008f39;
  border-color: #eeeeee;
}

* footer .footerContainer .contacto input[type="submit"]:hover,
* footer .footerContainer .direccion input[type="submit"]:hover,
* footer .footerContainer .paginas input[type="submit"]:hover {
  background-color: rgba(78, 78, 32, 0.582);
}

* footer .footerContainer .contacto .fa,
* footer .footerContainer .direccion .fa,
* footer .footerContainer .paginas .fa {
  color: #f80000;
}

* footer .redes {
  background: #000;
  border-top: 0.1rem solid #008f39;
}

* footer .redes .copy {
  color: #eeeeee;
  border-bottom: 0.1rem solid #008f39;
}

/*------------------------
             galeria
------------------------*/
.miniaturas .repertorio h3 {
  color: #008f39;
}

.miniaturas .repertorio .raya {
  border-color: #008f39;
}

.menuGaleria {
  background-color: #008f39;
}

.menuGaleria .boton {
  color: #eeeeee;
}

/*------------------------
             webs
------------------------*/
.web .primeroscoc,
.web .guerrasOnline,
.web .tiendaTitanium,
.web .titaniumGamers,
.web .portfolio {
  border-color: #008f39;
}

/*----------------
     curriculum
-----------------*/
.descripcion .año {
  color: #008f39;
}

.descripcion h1,
.descripcion strong {
  color: #008f39;
}

.datos .datosPersonales {
  border: 0.2rem solid #008f39;
}

.datos .datosPersonales h2 {
  color: #008f39;
}

.datos .datosPersonales h3 {
  color: #008f39;
}

.datos .experiencia {
  border: 0.2rem solid #008f39;
}

.datos .interes {
  border: 0.1rem solid #008f39;
}

@media screen and (max-width: 650px) {
  footer .footerContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footerContainer .contacto {
    width: 90%;
  }
  footer .footerContainer .direccion {
    margin-top: 5rem;
    width: 90%;
  }
  footer .footerContainer .paginas {
    margin-top: 5rem;
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .stick .movil {
    border-bottom: 0.05rem solid #008f39;
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.438);
  }
  .stick .movil .imagenes .botones .botonMenu {
    color: #008f39;
  }
  .stick .movil .imagenes .botones #boton1 {
    background-color: Transparent;
  }
  .stick .movil .desplegable .mode .noche {
    color: #008f39;
  }
  .stick .movil .desplegable .mode .dia {
    color: #008f39;
  }
  .stick .movil .desplegable .mode .selecEstilosDesplegar {
    color: #008f39;
  }
  .stick .movil .desplegable .mode .selecEstilosPlegar {
    color: #008f39;
  }
  .stick .movil .desplegable .enlace {
    color: #008f39;
    font-color: #008f39;
  }
}

@media only screen and (max-width: 800px) {
  body .fiestas .stop {
    font-size: calc(1rem + 0.3vw);
  }
}
/*# sourceMappingURL=verde.css.map */