<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Footer Responsive</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/app/components/footer2/footer.css">
    <!-- <style>
    @import "/src/app/components/footer2/footer.css";
  </style> -->
</head>

<body>
    <!-- partial:index.partial.html -->
    <footer>
        <div class="footerContainer">
            <div class="primeraFila">

                <div class="footerContact">

                    <div class="contactoInfo">
                        <div class="icono">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="texto">
                            <h4>Teléfono</h4>
                            <p>34 653 25 19 83</p>
                        </div>
                    </div>

                    <div class="contactoInfo">
                        <div class="icono">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="texto">
                            <h4>Dirección</h4>
                            <p>Valencia - España</p>
                        </div>
                    </div>

                    <div class="contactoInfo">
                        <div class="icono">
                            <i class="far fa-envelope-open"></i>
                        </div>
                        <div class="texto">
                            <h4>Email</h4>
                            <p>info@microdeveloper.es</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>


            <div class="segundaFila">


                <div class="presentacion">
                    <div class="logo">
                        <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid"
                                alt="logo" /></a>
                    </div>
                    <div class="texto">
                        <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                            incididuntut consec tetur adipisicing
                            elit,Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="socialMedia">
                        <h4>Follow us</h4>
                        <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                        <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                    </div>
                </div>

                <div class="presentacion">
                    <div class="titulo">
                        <h3>Enlaces de interés</h3>
                    </div>
                    <div class="menuFooter">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div>


                <div class="presentacion">
                    <div class="titulo">
                        <h3>Suscribete</h3>
                    </div>
                    <div class="texto">
                        <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                    </div>
                    <div class="suscripcion">
                        <form action="#">
                            <input type="text" placeholder="Email Address">
                            <button><i class="fab fa-telegram-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="copyright">
            <div class="texto">
                <p>Copyright &copy; 2018, All Right Reserved <a href="https://microdeveloper.es/">Micro</a>
                </p>
            </div>
            <div class="">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- partial -->

</body>

</html>