/* ---------------hovers--------------*/
/* -----------------------------------------
         social media menu
------------------------------------------ */
.social-media {
  padding: 0.1rem 1rem 0.1rem 1rem;
  background-color: #3c97bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media .selecEstilos {
  margin: 0;
  -webkit-animation-name: parpadeo;
          animation-name: parpadeo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.social-media .selecEstilosCerrar {
  -webkit-animation-name: none;
          animation-name: none;
}

.social-media .modo {
  border: none;
  background: transparent;
  font-size: 2.4rem;
}

.social-media .botonesEstilo a:hover {
  background-color: white;
}

.social-media .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: row-reverse;
  /* background-color: orangered; */
}

.social-media p {
  color: #0a0a0a;
}

.social-media .social-links a {
  font-size: 2.4rem;
  display: inline-block;
  color: black;
  line-height: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.social-media .social-links a:visited {
  color: black;
}

.social-media .social-links a:hover {
  color: white;
}

/* ------------------------------------------
         div stilos
------------------------------------------ */
.botonesEstilo {
  display: none;
  background-color: white;
  border: 0.05rem solid #0a0a0a;
  border-radius: 0.9rem;
  padding: 1rem;
  margin: 0rem 0rem 0rem 0.5rem;
  z-index: 100;
  position: absolute;
}

.botonesEstilo p {
  color: #0a0a0a;
}

.botonesEstilo .filasFiesta {
  margin: 0rem 0rem 1rem 0rem;
}

.botonesEstilo .filasFiesta p {
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 0rem;
}

.botonesEstilo .filasFiesta .selecFiesta {
  margin: 0.5rem 0rem 0rem 0rem;
}

.botonesEstilo .filasFiesta .selecFiesta .festivos {
  width: 2.4rem;
  margin: 0.5rem 0rem 0rem 0.2rem;
}

.botonesEstilo .filasColores p {
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 0rem;
}

.botonesEstilo .filasColores .cambioColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.botonesEstilo .filasColores .cambioColor .selecColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.botonesEstilo .filasColores .cambioColor .selecColor .color {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  border: 0.05rem solid #0a0a0a;
  margin: 0.7rem 0.2rem 0rem 0.2rem;
}

.botonesEstilo .filasColores .cambioColor .blanco {
  background: #eeeeee;
}

.botonesEstilo .filasColores .cambioColor .amarillo {
  background: #ffff00;
}

.botonesEstilo .filasColores .cambioColor .naranja {
  background: orangered;
}

.botonesEstilo .filasColores .cambioColor .oro {
  background: #eabe3f;
}

.botonesEstilo .filasColores .cambioColor .marron {
  background: #a05000;
}

.botonesEstilo .filasColores .cambioColor .rojo {
  background: #f80000;
}

.botonesEstilo .filasColores .cambioColor .rosa {
  background: #ff0080;
}

.botonesEstilo .filasColores .cambioColor .morado {
  background: #9c27b0;
}

.botonesEstilo .filasColores .cambioColor .azul {
  background: #00c6ee;
}

.botonesEstilo .filasColores .cambioColor .verde {
  background: #008f39;
}

.botonesEstilo .filasColores .cambioColor .negro {
  background: #0a0a0a;
}

.botonesEstilo .selecModo {
  margin: 1rem 0rem 0rem 0rem;
}

.botonesEstilo .selecModo p {
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 0rem;
}

.botonesEstilo .selecModo .mode {
  margin: 0.5rem 0rem 0rem 0rem;
}

.botonesEstilo .selecModo .mode p {
  font-size: 3rem;
}

.botonesEstilo .selecModo .mode .noche {
  color: #0a0a0a;
  display: none;
}

.botonesEstilo .selecModo .mode .dia {
  color: #0a0a0a;
}

.botonesEstiloMenu {
  right: 0.5rem;
  top: 11rem;
}

/* ------------------------------------------
         menu
------------------------------------------ */
.movil {
  display: none;
}

.stick {
  top: 0;
  width: 100%;
}

.stick .nav {
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.438);
}

.stick .nav .navbar {
  padding: 0rem 1rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.stick .nav .navbar .foto img {
  height: 100%;
  margin-left: calc(10px + 1vw);
  border-radius: 75%;
  border: 0.05rem solid #3c97bf;
  width: calc(3vw + 3rem);
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.stick .nav .navbar .mode {
  margin: 0rem 1rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stick .nav .navbar .mode .noche {
  display: none;
  color: #3c97bf;
}

.stick .nav .navbar .mode .dia {
  display: block;
  color: #3c97bf;
  font-size: 5rem;
}

.stick .nav .navbar .mode img {
  position: absolute;
  width: calc(0.1rem + 3vw);
}

.stick .nav .navbar .menu {
  padding: 3rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.stick .nav .navbar .menu .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5] 1fr [x6];
      grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5] 1fr [x6];
  -ms-grid-rows: [y0] 1fr [y1];
      grid-template-rows: [y0] 1fr [y1];
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 80%;
}

.stick .nav .navbar .menu .links .enlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0rem 0rem 0rem 0rem;
  color: #3c97bf;
  padding: 1.6rem 0.5rem 1.6rem 0.5rem;
  min-width: 8rem;
  border: 0.05rem solid #3c97bf;
  border-radius: 0.9rem;
  background-color: rgba(0, 0, 0, 0.582);
  font-size: 1.6rem;
  font-weight: bold;
}

.stick .nav .navbar .menu .links .inicio {
  grid-column: x0 / x1;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .conoceme {
  grid-column: x1 / x2;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .webs {
  grid-column: x2 / x3;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .gal {
  grid-column: x3 / x4;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .curriculum {
  grid-column: x4 / x5;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .contacto {
  grid-column: x5 / x6;
  grid-row: y0 / y1;
}

.stick .nav .navbar .menu .links .inicio:hover,
.stick .nav .navbar .menu .links .conoceme:hover,
.stick .nav .navbar .menu .links .webs:hover,
.stick .nav .navbar .menu .links .gal:hover,
.stick .nav .navbar .menu .links .videos:hover,
.stick .nav .navbar .menu .links .curriculum:hover,
.stick .nav .navbar .menu .links .contacto:hover,
.stick .nav .navbar .menu .links .inicio:focus,
.stick .nav .navbar .menu .links .conoceme:focus,
.stick .nav .navbar .menu .links .webs:focus,
.stick .nav .navbar .menu .links .gal:focus,
.stick .nav .navbar .menu .links .videos:focus,
.stick .nav .navbar .menu .links .curriculum:focus,
.stick .nav .navbar .menu .links .contacto:focus {
  background-color: rgba(78, 78, 32, 0.582);
}

.stick .movil img {
  display: none;
}

.stick .mnav-link {
  display: none;
}

.stick .desplegable {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .movil {
    border-bottom: 0.05rem solid #3c97bf;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.438);
  }
  .movil .imagenes {
    padding: calc(0.5rem + 0.5vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .movil .imagenes .foto {
    cursor: pointer;
  }
  .movil .imagenes .foto img {
    display: block;
    border-radius: 75%;
    border: 3px double #3c97bf;
    width: calc(4vw + 5rem);
    -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  }
  .movil .imagenes .botones {
    border: 0;
    outline: 0 none;
    background-color: transparent;
  }
  .movil .imagenes .botones #boton1 {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: Transparent;
  }
  .movil .imagenes .botones #boton1 p {
    display: block;
    font-size: calc(5vw + 5rem);
  }
  .movil .desplegable .mode {
    margin: 0rem 0rem 1rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .movil .desplegable .mode .noche {
    display: none;
    color: #3c97bf;
  }
  .movil .desplegable .mode .dia {
    display: block;
    color: #3c97bf;
    font-size: 5rem;
  }
  .movil .desplegable .mode img {
    position: absolute;
    width: calc(0.1rem + 3vw);
  }
  .movil .desplegable .enlace {
    margin: 1rem;
    border: 0;
    color: #3c97bf;
    cursor: pointer;
    font-size: 3rem;
    font-color: #3c97bf;
  }
  .movil .desplegable .mnav-link {
    display: block;
  }
}

@media only screen and (max-width: 800px) and (max-width: 800px) {
  section #links {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  /* Y finalmente las animaciones */
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=navBotones.css.map */