@font-face {
  font-family: "supercell";
  src: url("/src/assets/fonts/fuentes/supercell-magic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/src/assets/fonts/fuentes/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome";
  src: url("/src/assets/fonts/font-awesome/fontawesome-webfont.woff");
}

@font-face {
  font-family: "FontAwesome";
  src: url("/src/assets/fonts/font-awesome/fontawesome-webfont.woff2");
}

@font-face {
  font-family: "titanium";
  src: url("/src/assets/fonts/fuentes/pricedow.ttf") format("truetype");
}

@font-face {
  font-family: "PiratesBlackbeard";
  src: url("/src/assets/fonts/fuentes/PiratesBlackbeard.ttf");
}

@font-face {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  src: local("Audiowide"), local("Audiowide-Regular"), url("/src/assets/fonts/fuentes/Audiowide.woff") format("woff");
}

@font-face {
  font-family: "Bad Script";
  src: url("/src/assets/fonts/fuentes/BadScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sriracha";
  src: url("/src/assets/fonts/fuentes/Sriracha-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kumar One outline";
  src: url("/src/assets/fonts/fuentes/KumarOneOutline-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gruppo";
  src: url("/src/assets/fonts/fuentes/Gruppo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Yellowtail";
  src: url("/src/assets/fonts/fuentes/Yellowtail-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Londrina";
  src: url("/src/assets/fonts/fuentes/Yellowtail-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Londrina Outline";
  src: url("/src/assets/fonts/fuentes/LondrinaOutline-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Monoton";
  src: url("/src/assets/fonts/fuentes/Monoton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "frozen";
  src: url("/src/assets/fonts/fuentes/Ice-kingdom.woff");
}

@font-face {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  src: local("Iceland"), local("Iceland-Regular"), src url("/src/assets/fonts/fuentes/Iceland-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url("/src/assets/fonts/fuentes/PiratesBlackbeard.ttf") format("woff");
}

@font-face {
  font-family: "PressStart";
  font-style: normal;
  font-weight: 400;
  src: local("Press Start 2P"), local("PressStart2P-Regular"), url("/src/assets/fonts/fuentes/PressStart.woff") format("woff");
}

@font-face {
  font-family: "Vampiro One";
  font-style: normal;
  font-weight: 400;
  src: local("Vampiro One"), local("VampiroOne-Regular"), url("/src/assets/fonts/fuentes/VampiroOne.woff") format("woff");
}

@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  src: local("Vampiro One"), local("VampiroOne-Regular"), url("/src/assets/fonts/fuentes/Asap-Regular.ttf") format("woff");
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  content: "";
  position: fixed;
  z-index: 9999;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  border: 6px solid orangered;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

html,
body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: #272727;
  font-family: Roboto, sans-serif;
  font-size: 62.5%;
}

html .separador5,
body .separador5 {
  width: 100%;
  height: 5rem;
}

html .separador4,
body .separador4 {
  width: 100%;
  height: 4rem;
}

html .separador3,
body .separador3 {
  width: 100%;
  height: 3rem;
}

html .separador2,
body .separador2 {
  width: 100%;
  height: 2rem;
}

html .separador1,
body .separador1 {
  width: 100%;
  height: 1rem;
}

html h1,
body h1 {
  font-size: 4rem;
  color: #eeeeee;
  text-align: center;
  -webkit-text-stroke: 0.05rem black;
  text-shadow: 0.3rem 0.3rem 0.3rem gray;
}

html h2,
body h2 {
  font-size: 3rem;
  color: #eeeeee;
  -webkit-text-stroke: 0.05rem black;
  text-shadow: 0.3rem 0.3rem 0.2rem gray;
}

html h3,
body h3 {
  font-size: 2rem;
  color: #eeeeee;
  -webkit-text-stroke: 0.04rem black;
  text-shadow: 0.3rem 0.3rem 0.1rem gray;
}

html h4,
body h4 {
  font-size: 1.5rem;
  color: #eeeeee;
  -webkit-text-stroke: 0.03rem black;
  text-shadow: 0.3rem 0.3rem 0.1rem gray;
}

html a,
body a {
  color: #00c6ee;
}

html p,
body p {
  font-size: 1.5rem;
  color: #0a0a0a;
}

html ul,
body ul {
  margin: 2rem 0rem 2rem 2rem;
}

html ul li,
body ul li {
  color: #eeeeee;
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 1rem;
}

html ul li a strong,
body ul li a strong {
  color: blue;
}

html .primera,
body .primera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

html .primera img,
body .primera img {
  width: 50vh;
}

html .fa-arrow-alt-circle-up,
body .fa-arrow-alt-circle-up {
  opacity: 0.5;
  z-index: 1000;
  color: #3c97bf;
  font-size: 5rem;
  display: block;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 15rem;
  right: 2rem;
  border-radius: 10rem;
  -webkit-text-stroke: 0.1rem gray;
  text-shadow: 0.2rem 0.2rem 0.5rem black;
  background-color: white;
}

/*----------------------
      responsive
----------------------*/
/*# sourceMappingURL=style.css.map */