@import "../../../assets/style/variables/variables.scss";

.biografia {
  padding: 0rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  hr {
    width: 100%;
    margin: 0rem 0rem 4rem 0rem;
    border: 1px solid #373636;
  }
  .contenido {
    display: flex;
    flex-direction: row;
    .historia {
      padding: 0rem 3rem 0rem 0rem;
      width: 70%;
    }
    .biografiaCurriculum {
      margin: 0rem 0rem 0rem 0rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 0.05rem solid $negro;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      width: 30%;
      background: {
        color: $blanco;
      }
      p {
        color: $negro;
      }
      h3 {
        color: $negro;
        -webkit-text-stroke: 0.04rem rgb(221, 216, 216);
        text-shadow: 0.2rem 0.2rem 0.1rem gray;
      }
      img {
        width: 100%;
        margin: 1rem 0rem 0rem 0rem;
      }
      .curriculumMini {
        p {
          font-size: 1.2rem;
        }
        .experienciaMini {
          margin: 1rem 0rem 0rem 0rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          .logoEx {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: lightskyblue;
            width: 100%;
            img {
              margin: 0.3rem 0rem 0.3rem 0rem;
            }
            a {
              width: 15%;
              background: {
              }
              border: {
                //radius: 1rem 0rem 0rem 1rem;
              }
            }
          }
          .descripcion {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1rem;
            display: grid;
          }
        }
        .datosGenerales {
          display: grid;
          grid-template-columns: [x0] 0.75fr [x1] 1.25fr [x2];
          grid-template-rows: [y0] 0.5fr [y1] 0.5fr [y2] 0.5fr [y3] 0.5fr [y4] 0.5fr [y5] 0.5fr [y6] 0.5fr [y7] 0.5fr [y8] 0.5fr [y9] 0.5fr [y10] 0.5fr [y11] 0.5fr [y12] 0.5fr [y13];
          grid-column-gap: 0.5rem;
          grid-row-gap: 0.5rem;
          p {
            color: black;
            font-size: 1.2rem;
          }
          .infoPersonal {
            grid-column: x0 / x2;
            grid-row: y0 / y1;
            background-color: lightskyblue;
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
          .tituloNombre {
            grid-column: x0 / x1;
            grid-row: y1 / y2;
          }
          .nombre {
            grid-column: x1 / x2;
            grid-row: y1 / y2;
          }
          .tituloNacimiento {
            grid-column: x0 / x1;
            grid-row: y2 / y3;
          }
          .nacimiento {
            grid-column: x1 / x2;
            grid-row: y2 / y3;
          }
          .tituloResidencia {
            grid-column: x0 / x1;
            grid-row: y3 / y4;
          }
          .residencia {
            grid-column: x1 / x2;
            grid-row: y3 / y4;
          }
          .tituloNacionalidad {
            grid-column: x0 / x1;
            grid-row: y4 / y5;
          }
          .nacionalidad {
            grid-column: x1 / x2;
            grid-row: y4 / y5;
          }
          .tituloReligion {
            grid-column: x0 / x1;
            grid-row: y5 / y6;
          }
          .religion {
            grid-column: x1 / x2;
            grid-row: y5 / y6;
          }
          .tituloPolitica {
            grid-column: x0 / x1;
            grid-row: y6 / y7;
          }
          .politica {
            grid-column: x1 / x2;
            grid-row: y6 / y7;
          }
          .tituloAfiliaciones {
            grid-column: x0 / x1;
            grid-row: y7 / y8;
          }
          .afiliaciones {
            grid-column: x1 / x2;
            grid-row: y7 / y8;
          }
          .infoProfesional {
            grid-column: x0 / x2;
            grid-row: y8 / y9;
            background-color: lightskyblue;
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
//------------------------\\
//  RESPONSIVE  \\
//------------------------\\
@media only screen and (max-width: 800px) {
  .biografia {
    padding: 0rem 2rem 0rem 2rem;
    // hr {
    // }
    .contenido {
      flex-direction: column-reverse;
      .historia {
        margin: 1rem 1rem 0rem 1rem;
      }
      .biografiaCurriculum {
        width: 100%;
        img {
          width: 100%;
        }
        .curriculum {
          p {
            font-size: 1.2rem;
          }
          .experienciaMini {
            .logoEx {
            }
          }
          .descripcion {
          }
        }
        .datosGenerales {
          p {
          }
        }
      }
    }
  }
}
