/* ---------------hovers--------------*/
.biografia {
  padding: 0rem 5rem 0rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.biografia hr {
  width: 100%;
  background-color: #0a0a0a;
  height: 0.3rem;
  margin: 0rem 0rem 4rem 0rem;
}

.biografia .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.biografia .contenido .historia {
  padding: 0rem 3rem 0rem 0rem;
  width: 70%;
}

.biografia .contenido .biografiaCurriculum {
  margin: 0rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.05rem solid #0a0a0a;
  padding: 0.5rem;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 30%;
  background-color: #eeeeee;
}

.biografia .contenido .biografiaCurriculum p {
  color: #0a0a0a;
}

.biografia .contenido .biografiaCurriculum h3 {
  color: #0a0a0a;
  -webkit-text-stroke: 0.04rem #ddd8d8;
  text-shadow: 0.2rem 0.2rem 0.1rem gray;
}

.biografia .contenido .biografiaCurriculum img {
  width: 100%;
  margin: 1rem 0rem 0rem 0rem;
}

.biografia .contenido .biografiaCurriculum .curriculumMini p {
  font-size: 1.2rem;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .experienciaMini {
  margin: 1rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .experienciaMini .logoEx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightskyblue;
  width: 100%;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .experienciaMini .logoEx img {
  margin: 0.3rem 0rem 0.3rem 0rem;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .experienciaMini .logoEx a {
  width: 15%;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .experienciaMini .descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  display: -ms-grid;
  display: grid;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [x0] 0.75fr [x1] 1.25fr [x2];
      grid-template-columns: [x0] 0.75fr [x1] 1.25fr [x2];
  -ms-grid-rows: [y0] 0.5fr [y1] 0.5fr [y2] 0.5fr [y3] 0.5fr [y4] 0.5fr [y5] 0.5fr [y6] 0.5fr [y7] 0.5fr [y8] 0.5fr [y9] 0.5fr [y10] 0.5fr [y11] 0.5fr [y12] 0.5fr [y13];
      grid-template-rows: [y0] 0.5fr [y1] 0.5fr [y2] 0.5fr [y3] 0.5fr [y4] 0.5fr [y5] 0.5fr [y6] 0.5fr [y7] 0.5fr [y8] 0.5fr [y9] 0.5fr [y10] 0.5fr [y11] 0.5fr [y12] 0.5fr [y13];
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales p {
  color: black;
  font-size: 1.2rem;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .infoPersonal {
  grid-column: x0 / x2;
  grid-row: y0 / y1;
  background-color: lightskyblue;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .tituloNombre {
  grid-column: x0 / x1;
  grid-row: y1 / y2;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .nombre {
  grid-column: x1 / x2;
  grid-row: y1 / y2;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .tituloNacimiento {
  grid-column: x0 / x1;
  grid-row: y2 / y3;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .nacimiento {
  grid-column: x1 / x2;
  grid-row: y2 / y3;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .tituloResidencia {
  grid-column: x0 / x1;
  grid-row: y3 / y4;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .residencia {
  grid-column: x1 / x2;
  grid-row: y3 / y4;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .tituloNacionalidad {
  grid-column: x0 / x1;
  grid-row: y4 / y5;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .nacionalidad {
  grid-column: x1 / x2;
  grid-row: y4 / y5;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .tituloReligion {
  grid-column: x0 / x1;
  grid-row: y5 / y6;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .religion {
  grid-column: x1 / x2;
  grid-row: y5 / y6;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .tituloPolitica {
  grid-column: x0 / x1;
  grid-row: y6 / y7;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .politica {
  grid-column: x1 / x2;
  grid-row: y6 / y7;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .tituloAfiliaciones {
  grid-column: x0 / x1;
  grid-row: y7 / y8;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .afiliaciones {
  grid-column: x1 / x2;
  grid-row: y7 / y8;
}

.biografia .contenido .biografiaCurriculum .curriculumMini .datosGenerales .infoProfesional {
  grid-column: x0 / x2;
  grid-row: y8 / y9;
  background-color: lightskyblue;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 800px) {
  .biografia {
    padding: 0rem 2rem 0rem 2rem;
  }
  .biografia .contenido {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .biografia .contenido .historia {
    margin: 1rem 1rem 0rem 1rem;
    width: 100%;
  }
  .biografia .contenido .biografiaCurriculum {
    width: 100%;
  }
  .biografia .contenido .biografiaCurriculum img {
    width: 100%;
  }
  .biografia .contenido .biografiaCurriculum .curriculum p {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=biografia.css.map */