@import "../../../assets/style/sass/mixins/mixins.scss";
 @import "../../../assets/style/sass/variables/variables.scss";

.head {
  //@include head;
}
body {
  background: {
  }
}
  .descripcion {
    display: flex;
    justify-content: center;
    .año {
      color: $amarillento;
    }
    h1 {
      font-size: calc(3rem + 1vw);
      //margin-top: 5rem;
      color: $corporativo;
      //width: calc(0.1rem + 3vw);
    }
  
  }
  p {
    font-size: 1.5rem;
    font-size: calc(1rem + 1vw);
    color: $amarillento;
  }
  //A:hover { color: black; font-family: arial; text-decoration: none }
  a:visited {
    color: $corporativo;
    font-family: arial;
    text-decoration: none;
  }
  .datos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    .datosPersonales {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: $blanco;
      border: 0.2rem solid $corporativo;
      overflow: hidden;
      border: {
        radius: 1rem;
      }
      background: {
        color: #000;
      }
      h2 {
        color: $corporativo;
      }
      h3{
        color: $corporativo;
        -webkit-text-stroke: 0.04rem rgb(0, 0, 0);
    text-shadow: 0.3rem 0.3rem 0.1rem gray;
      }
      .foto {
        //width: 40%;
        .dni {
          width: calc(20rem + 10vw);
          border: {
            radius: 0.5rem;
          }
        }
      }
      .direccion {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        p {
          margin-top: 1.5rem;
          color:$amarillento ;
        }
       
        .fa {
          color: red;
          font-size: 2rem;
        }
        a{
          color:$amarillento ;
        }
      }
    }
    .experiencia {
      color: $blanco;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 0.2rem solid $corporativo;
      //margin-bottom: 5rem;
      width: 95vw;
      background: {
        color: black;
      }
      border: {
        radius: 1rem;
      }
      .logotipo {
        // overflow: hidden;
        //height: 7vh;
        img {
          width: calc(10rem + 10vw);
          background: {
          }
          border: {
            radius: 1rem 0rem 0rem 1rem;
          }
        }
      }
    

      .descripcion {
        padding: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        //text-overflow: ellipsis;
        //  $blanco-space: nowrap;
      }
      .titulo {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin-right: 3rem;
        img {
          height: 7rem;
          width: 7rem;
          margin-right: 1rem;
          display: block;
          text-decoration: none;
          margin-left: 30px;
          animation-name: parpadeo;
          animation-duration: 1s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          -webkit-animation-name: parpadeo;
          -webkit-animation-duration: 2s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
        }
        img:hover {
          -webkit-transform: scale(1.15);
          -moz-transform: scale(1.15);
          -ms-transform: scale(1.15);
          -o-transform: scale(1.15);
          transform: scale(1.15);
        }
      }
    }
    .interes {
      border: 0.1rem solid $corporativo;
      width: 95vw;
      padding: 2rem;
      border: {
        radius: 1rem;
      }
      background: {
        color: black;
      }
      p {
        margin-top: 1.5rem;
      }
    }
    a:link {
      //color: #ffffff;
      text-decoration: none;
      // color: $azul;
    }
    a:visited {
      //color: $azul;
    }
    a:active {
      //color: $azul;
    }
    a:hover {
      //color: $azul;
    }
  }
  //------------------------\\
  //  RESPONSIVE  \\
  //------------------------\\
  @media only screen and (max-width: 700px) {
    .head {
      // @include head;
    }
    body {
      background: {
        //color: black;
      }
    }
    .titulo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h1 {
      font-size: calc(1.5rem + 4vw);
      margin-top: 5rem;
      color: $corporativo;
      //width: calc(0.1rem + 3vw);
    }
    p {
      font-size: 1.5rem;
    }
    //A:hover { color: black; font-family: arial; text-decoration: none }
    a:visited {
      color: black;
      font-family: arial;
      text-decoration: none;
    }
    .datos {
      display: flex;
      flex-direction: column;
      width: 100%;
      .datosPersonales {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $blanco;
        padding: 3rem;
        // padding: 3rem;
        border: 0.1rem solid $corporativo;
        // margin: 0.3rem;
        width: 85%;
        height: auto;
        overflow: hidden;
        border: {
          radius: 1rem;
        }
        background: {
          color: black;
        }
        h2 {
          color: $azul;
        }
        .dni {
          height: auto;
          width: 100%;
          border: {
            radius: 1rem;
          }
        }
        .direccion {
          display: flex;
          flex-direction: column;
          p {
            margin-top: 1.5rem;
          }
        }
      }
      .interes {
        border: 0.1rem solid $corporativo;
        width: 85%;
        padding: 2rem;
        border: {
          radius: 1rem;
        }
        background: {
          color: black;
        }
        p {
          margin-top: 1.5rem;
        }
      }
      .experiencia {
        color: $blanco;
        display: flex;
        flex-direction: column;
        height: auto;
        min-width: 7vh;
        margin: 0.5rem;
        width: 85%;
        border: {
          radius: 1rem;
        }
        background: {
          color: black;
        }
        .logotipo {
          overflow: hidden;
          height: auto;
          background: {
          }
          img {
            width: 100%;
            border: {
              radius: 0rem;
            }
          }
          .corporativo {
            height: 100%;
          }
        }
        .descripcion {
          padding: 3rem;
          width: 100%;
        }
        a {
          color: $azul;
          text-decoration: none;
        }
        a:visited {
          // color: #ffffff;
        }
        a:active {
          //  color: #ffffff;
        }
        a:hover {
          color: $azul;
        }
        .titulo {
          padding: 2rem;
          img {
            height: 7vh;
            width: 7vh;
          }
        }
      }
    }
  }

