@import "../../../assets/style/variables/variables.scss";


section {
  overflow: hidden;
  background: {
  }
}
.descripcion {
  display: flex;
  justify-content: center;
  .año {
    color: $amarillento;
  }
  h1 {
    font-size: calc(3rem + 1vw);
    color: $corporativo;
    //width: calc(0.1rem + 3vw);
  }
}
p {
  font-size: 1.5rem;
  font-size: calc(1rem + 1vw);
  color: $amarillento;
}
a:visited {
  color: $corporativo;
  font-family: arial;
  text-decoration: none;
}
.datos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  .datosPersonales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $blanco;
    border: 0.2rem solid $corporativo;
    overflow: hidden;
    border: {
      radius: 1rem;
    }
    background: {
      color: #000;
    }
    h2 {
      color: $corporativo;
    }
    h3 {
      color: $corporativo;
      -webkit-text-stroke: 0.04rem rgb(0, 0, 0);
      text-shadow: 0.3rem 0.3rem 0.1rem gray;
    }
    .foto {
      .dni {
        width: calc(7rem + 10vw);
        border: {
          radius: 0.5rem;
        }
      }
    }
    .direccion {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem;
      p {
        margin-top: 1.5rem;
        color: $amarillento;
      }
      .fa {
        color: red;
        font-size: 2rem;
      }
      a {
        color: $amarillento;
      }
    }
  }
  .experiencia {
    color: $blanco;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.2rem solid $corporativo;
    width: 95vw;
    background: {
      color: black;
    }
    border: {
      radius: 1rem;
    }
    .logotipo {
      // overflow: hidden;
      img {
        width: calc(12rem + 1vw);
        background: {
        }
        border: {
          radius: 1rem 0rem 0rem 1rem;
        }
      }
    }
    .descripcion {
      padding: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .titulo {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      margin-right: 3rem;
      img {
        height: 7rem;
        width: 7rem;
        margin-right: 1rem;
        display: block;
        text-decoration: none;
        margin-left: 30px;
        animation-name: parpadeo;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        -webkit-animation-name: parpadeo;
        -webkit-animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
      }
      img:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
      }
    }
  }
  .interes {
    border: 0.1rem solid $corporativo;
    width: 95vw;
    padding: 2rem;
    border: {
      radius: 1rem;
    }
    background: {
      color: black;
    }
    p {
      margin-top: 1.5rem;
    }
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
  }
  a:active {
  }
  a:hover {
  }
}
/*-------------------*\
      PARPADEO
/*-------------------*/
@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//------------------------\\
//  RESPONSIVE  \\
//------------------------\\
@media only screen and (max-width: 700px) {
  body {
  }
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: calc(1.5rem + 4vw);
    margin-top: 5rem;
    color: $corporativo;
  }
  p {
    font-size: 1.5rem;
  }
  a:visited {
    color: black;
    font-family: arial;
    text-decoration: none;
  }
  .datos {
    display: flex;
    flex-direction: column;
    width: 100%;
    .datosPersonales {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $blanco;
      padding: 3rem;
      border: 0.1rem solid $corporativo;
      width: 85%;
      height: auto;
      overflow: hidden;
      border: {
        radius: 1rem;
      }
      background: {
        color: black;
      }
      h2 {
        color: $azul;
      }
      .dni {
        height: auto;
        width: 100%;
        border: {
          radius: 1rem;
        }
      }
      .direccion {
        display: flex;
        flex-direction: column;
        p {
          margin-top: 1.5rem;
        }
      }
    }
    .interes {
      border: 0.1rem solid $corporativo;
      width: 85%;
      padding: 2rem;
      border: {
        radius: 1rem;
      }
      background: {
        color: black;
      }
      p {
        margin-top: 1.5rem;
      }
    }
    .experiencia {
      color: $blanco;
      display: flex;
      flex-direction: column;
      height: auto;
      min-width: 7vh;
      margin: 0.5rem;
      width: 85%;
      border: {
        radius: 1rem;
      }
      background: {
        color: black;
      }
      .logotipo {
        overflow: hidden;
        height: auto;
        background: {
        }
        img {
          width: 100%;
          border: {
            radius: 0rem;
          }
        }
        .corporativo {
          height: 100%;
        }
      }
      .descripcion {
        padding: 3rem;
        width: 100%;
      }
      a {
        color: $azul;
        text-decoration: none;
      }
      a:visited {
      }
      a:active {
      }
      a:hover {
        color: $azul;
      }
      .titulo {
        padding: 2rem;
        img {
          height: 7vh;
          width: 7vh;
        }
      }
    }
  }
}
