// @import "../../../assets/style/sass/mixins/mixins.scss";
@import "../../../assets/style/variables/variables.scss";

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
// $breakpoint-xs: 0;
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 990.2rem;
// $breakpoint-xl: 1200px;

/*Carousel*/
.containerCarousel {
  text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  // box-shadow: 0rem 1rem 0.4rem rgba(8, 8, 8, 0.4);
  // box-shadow: 0rem 1rem 0.4rem rgba(8, 8, 8, 0.4);
  // position: absolute;
  //   margin-top: -20rem;
  .carousel-caption {
    bottom: 70px;
    background: rgba(3, 3, 3, 0.3);
    padding-right: 20px;
    padding-left: 20px;
  }
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-indicators li {
    height: 15px;
    width: 15px;
    border: 0.1rem solid #eee;
  }
  .carousel-indicators .activo {
    height: 17px;
    width: 17px;
    background-color: #e41b17;
  }
  .carousel-inner > .item > img {
    width: 100%;
  }
  /**********End Overriding Bootstrap********/
  /*Start Section About*/
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about .about-paragraph1 {
    color: #888;
    font-size: 25px;
    margin-top: 15px;
  }
  .about .about-paragraph2 {
    color: #888;
    font-size: 17px;
    margin-top: 15px;
  }
  .about h1 {
    font-weight: bold;
  }
  .about h2 {
    font-weight: bold;
  }
  .about h1 span {
    color: #e41b17;
  }
  .about h2 span {
    color: #e41b17;
  }
  /*End Section About*/
  /*Start Section Features*/
  .features {
    overflow: hidden;
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .features .feat {
    margin-bottom: 30px;
  }
  .features .feat p {
    line-height: 2em;
  }
  .features .feat span.glyphicon {
    font-size: 20px;
    margin-bottom: 10px;
    color: #666;
  }
  /*End Section Features*/
  /*Start Section Testimonials*/
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials .lead {
    line-height: 2em;
    margin-bottom: 10px;
  }
  .testimonials span {
    font-size: 18px;
    font-weight: bold;
    color: #e41b17;
  }
  .testimonials .carousel-indicators {
    //postion: static;
    //width: 100%;
    //margin-left: auto;
    padding-top: 20px;
  }
  .testimonials .carousel-indicators li {
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
  }
  .testimonials .carousel-indicators li.activo {
    width: 80px;
    height: 80px;
    opacity: 1;
    background: none;
    border: 0.2rem solid #e41b17;
  }

  .testimonials .carousel-indicators li img {
    max-width: 100%;
  }
}
/*End Section carousel*/
.titular {
  overflow: hidden;
  background-color: rgb(249, 249, 249);

  // background-color: green;
  box-shadow: inset 0rem 1rem 0.5rem rgba(0, 0, 0, 0.39),
    inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);

  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    // background-color: $negro;
    .neonTitulo {
      h1 {
        font-weight: lighter;
        padding: 0rem;
        margin: 0rem 0rem -3.5rem 0rem;
        color: #f82249;
        // color: $blanco;
        text-align: center;
        -webkit-text-stroke: 0.06rem rgb(0, 0, 0);
        text-shadow: 0.4rem 0.4rem 0.3rem black;

        font: {
          family: "PiratesBlackbeard";
          size: 12rem;
        }
      }
      h1:hover {
        transition: 0.5s;
        -webkit-text-stroke: 0.05rem rgb(0, 0, 0);
        // text-shadow: 0.3rem 0.3rem 0.3rem gray;

        color: #ff1177;
        // text-shadow: 0px 10px 50px rgb(255, 228, 2);
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
          0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177,
          0 0 100px #ff1177, 0 0 150px #ff1177;
      }
      h2 {
        font-weight: lighter;
        padding: 0rem;
        margin: -2.5rem 0rem 0rem 0rem;
        color: #f82249;
        // color: $blanco;
        text-align: center;
        -webkit-text-stroke: 0.06rem rgb(0, 0, 0);
        text-shadow: 0.3rem 0.3rem 0.3rem black;

        font: {
          // Londrina Outline, Monoton, PressStart,
          family: "Vampiro One";
          size: 5rem;
        }
      }
      .borde {
        width: 100%;
        height: 0.2rem;
        margin: 2rem 0rem 2.5rem 0rem;
        -webkit-text-stroke: 0.6rem rgb(0, 0, 0);
        border-bottom: 3px solid #f82249;
        text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
        box-shadow: 0rem 1rem 0.9rem rgba(8, 8, 8, 0.4);
        width: 90%;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .salidaIzquierda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    //   background-color: salmon;
    margin: 0rem 0rem 0rem -8rem;
    margin-right: 50rem;
    width: 100%;
    height: calc(1vw + 20rem);
    // background-color: skyblue;

    overflow: hidden;
    border-radius: 0rem 5rem 5rem 0rem;
    width: 100%;
    height: calc(11vw + 1rem);
    padding: 1rem;
    background-color: green;

    //   border: 0.1rem solid #00cc00; /* Color del borde, debe ser más claro que fondo */
    //   background: #00d800; /* Fondo */
    // box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(120, 120, 120, 0.4),
    //     inset -0.3rem -0.3rem 0.1rem rgba(255, 255, 255, 0.4);

    // transition-duration: 20s;
    background: #ff8d23; /* Fondo, debe ser más claro que el borde */
    border: 1rem inset #ff6923; /* Grosor del Borde */ /* Color del Borde */
    border-left: 0rem;
    border-radius: 1rem;
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4),
      0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);

    // box-shadow: 3px 4px 0.6rem rgb(4, 4, 5), 0 0 0 #000, 0.1rem 4px 0.6rem rgb(4, 4, 5);

    //     border: 0.1rem solid #00cc00; /* Color del borde, debe ser más oscuro que fondo */
    // background: #00f400; /* Fondo */
    // border-radius: 0.6rem;  /* Bordes redondos */
    // box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(255,255,255,.7), inset -0.2rem -0.2rem 0.3rem rgba(0,0,0,.1), 0.2rem 0.2rem 10px rgba(0,0,0,.1);
    // text-shadow: 0.1rem 0.1rem 0.1rem rgba(255,255,255,.9);  /* Sombra del texto */
    // text-align: center;  /* Alineación del texto */

    .global {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // padding: 1rem;
      //   background-color: $info;

      .descripcion {
        overflow: hidden;
        // width: 70%;
        // border-radius: 0rem 5rem 5rem 0rem;
        padding: 0rem 2rem 0rem 10rem;

        //   margin: 0rem 3rem 0rem 0rem;
        // width: 70%;
        // background-color: skyblue;
        p {
          //   padding: 3rem;
          //   width: 70%;
        }
      }
      .grafico {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        //   width: 100rem;
        //   border-radius: 0rem 5rem 5rem 0rem;
        //   overflow: hidden;
        // width: 20rem;
        // height: 15rem;
        //   height: 100%;
        //   width: 100%;
        // background-color: seagreen;
        // height: 20rem;
        // width: 30rem;
        // overflow: hidden;
        // width: 30%;
        // height: calc(20vw + 1rem);
        border-radius: 0rem 0.6rem 0.6rem 0rem;
        // border-radius: 0rem 2rem 2rem 0rem;
        // overflow: hidden;
        img {
          // width: 20rem;
          // height: 222rem;
          height: calc(10vw + 1rem);
          // border-radius: 0rem 5rem 5rem 0rem;
          width: calc(10vw + 1rem);
        }
      }
    }
  }
}
.principal {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10rem 10rem 10rem 10rem;
  // background-color: rgb(249, 249, 249);
  background: {
    // image: url("../../../assets/images/fondos/tecnologia.jpg");
    size: cover;
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  .textoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 5rem;
    .tituloPrincipal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      .borde {
        width: 9rem;
        margin: 0.2rem 0rem 0.5rem 0rem;
        border: 0.1rem solid #f82249;
      }
      h2 {
        margin: 0rem;
        cursor: pointer;
      }
      h2:hover + .borde {
        transition: 1s;
        width: 100%;
      }
    }
    p {
      font-size: 1.8rem;
      color: black;
    }
  }
  .imagenPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: chocolate;
    width: 50%;
    img {
      width: 40%;
    }
  }
}

.muestrario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 100%;
  // background-color: black;
  // .titulo{
  // background-color: black;
  .borde {
    width: 6rem;
    margin: 0.2rem 0rem 0.5rem 0rem;
    border: 0.2rem solid #f82249;
  }
  h2:hover + .borde {
    width: 45rem;
    margin: 0.2rem 0rem 0.5rem 0rem;
    border: 0.2rem solid #f82249;
    transition-duration: 2s;
  }
  // }
  .composicion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // width: 100%;

    .filaMuestrario {
      width: 33.3333%;
      overflow: hidden;
      img {
        width: 100%;
      }
      p {
        color: black;
        padding: 5rem;
      }
    }
  }
}
.conocimientos {
 
  background-color: rgb(249, 249, 249);
  // box-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0rem 1rem 0.5rem rgba(0, 0, 0, 0.39),
    inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
  // box-shadow:
  //   inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  .borde {
    width: 6rem;
    margin: 0.2rem 0rem 0.5rem 0rem;
    border: 0.2rem solid #f82249;
  }
  h2:hover + .borde {
    width: 45rem;
    margin: 0.2rem 0rem 0.5rem 0rem;
    border: 0.2rem solid #f82249;
    transition-duration: 2s;
  }
  .contenido{
    // background-color: blue;
  p {
    //   padding: 3rem;
    color: black;
  }
  .lenguaje {
    width: 100%;
    position: absolute;
    p {
      font-weight: bold;
      // color: black;
    }
  }
}

  .progreso {
    height: 20px;
    margin-bottom: 20px;
    // overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 0.1rem solid #c7c7c7;

    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .progreso40,
  .progreso50 {
    animation: barraProgreso50 4s linear;
    max-width: 50%;
    width: 50%;
    background-color: #f0ad4e;
    height: 20px;
  }
}
  @keyframes barraProgreso50 {
    0% {
      width: 0%;
      background-color: #d9534f;
    }
    20% {
      background-color: #d9534f;
    }
    25% {
      width: 25%;
      background-color: #f0ad4e;
    }
    45% {
      background-color: #f0ad4e;
    }
    50% {
      width: 50%;
      background-color: #f0ad4e;
    }
    70% {
      background-color: #f0ad4e;
    }
    75% {
      background-color: #f0ad4e;
    }
    95% {
      background-color: #f0ad4e;
    }
    100% {
      width: 100%;
      background-color: #f0ad4e;
    }
  }
  .progreso60,
  .progreso70 {
    animation: barraProgreso60 4s linear;
    max-width: 60%;
    width: 60%;
    background-color: #ffc107;
    height: 20px;
  }
  @keyframes barraProgreso60 {
    0% {
      width: 0%;
      background-color: #d9534f;
    }
    20% {
      background-color: #d9534f;
    }
    25% {
      width: 25%;
      background-color: #f0ad4e;
    }
    45% {
      background-color: #f0ad4e;
    }
    50% {
      width: 50%;
      background-color: #f0ad4e;
    }
    70% {
      background-color: #ffc107;
    }
    75% {
      background-color: #ffc107;
    }
    95% {
      background-color: #ffc107;
    }
    100% {
      width: 100%;
      background-color: #ffc107;
    }
  }
  .progreso70 {
    max-width: 70%;
    width: 70%;
  }
  .progreso80 {
    animation: barraProgreso80 4s linear;
    max-width: 80%;
    width: 80%;
    background-color: #5bc0de;
    height: 20px;
  }
  @keyframes barraProgreso80 {
    0% {
      width: 0%;
      background-color: #d9534f;
    }
    20% {
      background-color: #d9534f;
    }
    25% {
      width: 25%;
      background-color: #f0ad4e;
    }
    45% {
      background-color: #f0ad4e;
    }
    50% {
      width: 50%;
      background-color: #f0ad4e;
    }
    70% {
      background-color: #ffc107;
    }
    75% {
      background-color: #5bc0de;
    }
    95% {
      background-color: #5bc0de;
    }
    100% {
      width: 100%;
      background-color: #5bc0de;
    }
  }

  .progreso90,
  .progreso100 {
    animation: barraProgreso90 4s linear;
    max-width: 80%;
    width: 80%;
    background-color: #5cb85c;
    height: 20px;
  }
  @keyframes barraProgreso90 {
    0% {
      width: 0%;
      background-color: #d9534f;
    }
    20% {
      background-color: #d9534f;
    }
    25% {
      width: 25%;
      background-color: #f0ad4e;
    }
    45% {
      background-color: #f0ad4e;
    }
    50% {
      width: 50%;
      background-color: #f0ad4e;
    }
    70% {
      background-color: #ffc107;
    }
    75% {
      background-color: #5bc0de;
    }

    90% {
      background-color: #5bc0de;
    }
    100% {
      width: 100%;
      background-color: #5cb85c;
    }
  }
  .progreso100 {
    max-width: 100%;
    width: 100%;
    // background-color: #5cb85c;
  }
}
//--------------------------------------------
//------------------------------

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.barra {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  // background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.marcasBarra,
.progress-striped .barra {
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.barra.activo,
.progress.activo .barra {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
