@charset "UTF-8";
/*Carousel*/
.containerCarousel {
  text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4), 0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);
          box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4), 0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);
  /**********End Overriding Bootstrap********/
  /*Start Section About*/
  /*End Section About*/
  /*Start Section Features*/
  /*End Section Features*/
  /*Start Section Testimonials*/
}

.containerCarousel .carousel-caption {
  bottom: 70px;
  background: rgba(3, 3, 3, 0.3);
  padding-right: 20px;
  padding-left: 20px;
}

.containerCarousel .carousel-indicators {
  bottom: 0;
}

.containerCarousel .carousel-indicators li {
  height: 15px;
  width: 15px;
  border: 0.1rem solid #eee;
}

.containerCarousel .carousel-indicators .active {
  height: 17px;
  width: 17px;
  background-color: #e41b17;
}

.containerCarousel .carousel-inner > .item > img {
  width: 100%;
}

.containerCarousel .about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.containerCarousel .about .about-paragraph1 {
  color: #888;
  font-size: 25px;
  margin-top: 15px;
}

.containerCarousel .about .about-paragraph2 {
  color: #888;
  font-size: 17px;
  margin-top: 15px;
}

.containerCarousel .about h1 {
  font-weight: bold;
}

.containerCarousel .about h2 {
  font-weight: bold;
}

.containerCarousel .about h1 span {
  color: #e41b17;
}

.containerCarousel .about h2 span {
  color: #e41b17;
}

.containerCarousel .features {
  overflow: hidden;
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
}

.containerCarousel .features .feat {
  margin-bottom: 30px;
}

.containerCarousel .features .feat p {
  line-height: 2em;
}

.containerCarousel .features .feat span.glyphicon {
  font-size: 20px;
  margin-bottom: 10px;
  color: #666;
}

.containerCarousel .testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}

.containerCarousel .testimonials .lead {
  line-height: 2em;
  margin-bottom: 10px;
}

.containerCarousel .testimonials span {
  font-size: 18px;
  font-weight: bold;
  color: #e41b17;
}

.containerCarousel .testimonials .carousel-indicators {
  padding-top: 20px;
}

.containerCarousel .testimonials .carousel-indicators li {
  text-indent: 0;
  width: 80px;
  height: 80px;
  opacity: 0.5;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
}

.containerCarousel .testimonials .carousel-indicators li.active {
  width: 80px;
  height: 80px;
  opacity: 1;
  background: none;
  border: 0.2rem solid #e41b17;
}

.containerCarousel .testimonials .carousel-indicators li img {
  max-width: 100%;
}

/*End Section carousel*/
.carousel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.carousel-title h1 {
  font-weight: lighter;
  padding: 0rem;
  margin: 0rem 0rem -3.5rem 0rem;
  color: #f82249;
  text-align: center;
  -webkit-text-stroke: 0rem;
  text-shadow: none;
  font-family: "PiratesBlackbeard";
  font-size: 8rem;
}

.carousel-title h1:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-text-stroke: 0.05rem black;
  color: #ffe402;
  text-shadow: 0px 10px 50px #ffe402;
}

.carousel-title h2 {
  font-weight: lighter;
  padding: 0rem;
  margin: -2.5rem 0rem 0rem 0rem;
  color: #f82249;
  text-align: center;
  -webkit-text-stroke: 0rem;
  text-shadow: none;
  font-family: "Vampiro One";
  font-size: 3rem;
}

.carousel-title hr {
  width: 100%;
  margin: 2rem 0rem 2.5rem 0rem;
  border: 1px solid #f82249;
}

.salidaIzquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0rem 0rem 0rem -3rem;
  margin-right: 50rem;
  width: 100%;
  height: calc(1vw + 20rem);
  overflow: hidden;
  border-radius: 0rem 5rem 5rem 0rem;
  width: 100%;
  height: calc(11vw + 1rem);
  padding: 1rem;
  border: 0.1rem solid #00cc00;
  /* Color del borde, debe ser más claro que fondo */
  background: #00d800;
  /* Fondo */
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(120, 120, 120, 0.4), inset -0.3rem -0.3rem 0.1rem rgba(255, 255, 255, 0.4);
          box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(120, 120, 120, 0.4), inset -0.3rem -0.3rem 0.1rem rgba(255, 255, 255, 0.4);
  background: #2323ff;
  /* Fondo, debe ser más claro que el borde */
  border: 1rem inset #4444ff;
  /* Grosor del Borde */
  /* Color del Borde */
  border-left: 0rem;
  border-radius: 1rem;
  color: white;
  /* Color del texto */
  text-align: center;
  /* Alineación del texto */
  text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4), 0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);
          box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4), 0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);
}

.salidaIzquierda .global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.salidaIzquierda .global .descripcion {
  overflow: hidden;
  padding: 0rem 2rem 0rem 5rem;
}

.salidaIzquierda .global .grafico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: seagreen;
  border-radius: 0rem 0.6rem 0.6rem 0rem;
}

.salidaIzquierda .global .grafico img {
  height: calc(10vw + 1rem);
  width: calc(10vw + 1rem);
}
/*# sourceMappingURL=inicio.css.map */