// @import "../../../assets/style/sass/mixins/mixins.scss";
@import "../../../assets/style/variables/variables.scss";
@mixin zoom {
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;
}
@mixin rotacion {
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
@mixin voltear {
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
@mixin parpadeo {
  //border: none;
  background-color: transparent;
  //font-size: 4rem;
  // margin: 0;
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@mixin shake {
  // transition: all 0.4s ease-in-out;
  // -webkit-transform: rotate(360deg);
  // transform: rotate(360deg);
  //border: none;
  // background-color: transparent;
  //font-size: 4rem;
  // margin: 0;
  // animation-name: loco;
  animation-name: shake;
  // animation-duration: 2s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  animation-duration: 1s;
  // animation-timing-function: ease-in;
  // animation-delay: 0.4s;
  animation-direction: linear;
  animation-iteration-count: infinite;
  // animation-fill-mode: infinite;
  // animation-play-state: running;
  // animation-fill-mode: forwards;
}
@keyframes loco {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(0deg);
  }
  // 80%{
  //   transform: rotate(0deg);

  // }
  // 85%{
  //   transform: rotate(0deg);

  // }
  // 90%{
  //   transform: rotate(0deg);

  // }
  // 95%{
  //   transform: rotate(0deg);

  // }
  100% {
    transform: scale(1.3);
    overflow: hidden;
    animation-name: loco;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@mixin viturbo {
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  //border: none;
  // background-color: transparent;
  //font-size: 4rem;
  // margin: 0;
  animation-name: viturbo;
  // animation-duration: 2s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  animation-duration: 0.3s;
  // animation-timing-function: ease-in;
  animation-delay: 0.4s;
  animation-direction: linear;
  // animation-iteration-count: 1;
  animation-fill-mode: forwards;
  // animation-play-state: running;
}
@keyframes viturbo {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(1.3);
    overflow: hidden;
  }
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
// $breakpoint-xs: 0;
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 990.2rem;
// $breakpoint-xl: 1200px;
// .errr{
//   font-family: "FontAwesome";
//   content: "\f053";
// }
.chevron-left::before {
  font-family: "FontAwesome";
  content: "\f053";
  color: wheat;
  // margin-left: -2rem;
  // content: "\f057";
  // content: "\f01a";
  // margin-right: 8px;
}
.chevron-right::before {
  font-family: "FontAwesome";
  content: "\f054";
  color: wheat;
  // margin-left: -2rem;
  // content: "\f057";
  // content: "\f01a";
  // margin-right: 8px;
}
/*Carousel*/
.containerCarousel {
  text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  // box-shadow: 0rem 1rem 0.4rem rgba(8, 8, 8, 0.4);
  // box-shadow: 0rem 1rem 0.4rem rgba(8, 8, 8, 0.4);
  // position: absolute;
  //   margin-top: -20rem;
  .carousel-caption {
    bottom: 70px;
    background: rgba(3, 3, 3, 0.3);
    padding-right: 20px;
    padding-left: 20px;
  }
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-indicators li {
    height: 15px;
    width: 15px;
    border: 0.1rem solid #eee;
  }
  .carousel-indicators .activo {
    height: 17px;
    width: 17px;
    background-color: #e41b17;
  }
  .carousel-inner > .item > img {
    width: 100%;
  }
  /**********End Overriding Bootstrap********/
  /*Start Section About*/
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about .about-paragraph1 {
    color: #888;
    font-size: 25px;
    margin-top: 15px;
  }
  .about .about-paragraph2 {
    color: #888;
    font-size: 17px;
    margin-top: 15px;
  }
  .about h1 {
    font-weight: bold;
  }
  .about h2 {
    font-weight: bold;
  }
  .about h1 span {
    color: #e41b17;
  }
  .about h2 span {
    color: #e41b17;
  }
  p {
    color: white;
  }
  /*End Section About*/
  /*Start Section Features*/
  .features {
    overflow: hidden;
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .features .feat {
    margin-bottom: 30px;
  }
  .features .feat p {
    line-height: 2em;
  }
  .features .feat span.glyphicon {
    font-size: 20px;
    margin-bottom: 10px;
    color: #666;
  }
  /*End Section Features*/
  /*Start Section Testimonials*/
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials .lead {
    line-height: 2em;
    margin-bottom: 10px;
  }
  .testimonials span {
    font-size: 18px;
    font-weight: bold;
    color: #e41b17;
  }
  .testimonials .carousel-indicators {
    //postion: static;
    //width: 100%;
    //margin-left: auto;
    padding-top: 20px;
  }
  .testimonials .carousel-indicators li {
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
  }
  .testimonials .carousel-indicators li.activo {
    width: 80px;
    height: 80px;
    opacity: 1;
    background: none;
    border: 0.2rem solid #e41b17;
  }
  .testimonials .carousel-indicators li img {
    max-width: 100%;
  }
}
/*End Section carousel*/
.titular {
  overflow: hidden;
  background-color: rgb(249, 249, 249);
  // background-color: green;
  box-shadow: inset 0rem 1rem 0.5rem rgba(0, 0, 0, 0.39),
    inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    // background-color: $negro;
    .neonTitulo {
      h1 {
        font-weight: lighter;
        padding: 0rem;
        margin: 0rem 0rem -3.5rem 0rem;
        color: #f82249;
        // color: $blanco;
        text-align: center;


        -webkit-text-stroke: 0.06rem rgb(0, 0, 0);
        text-shadow: 0.4rem 0.4rem 0.3rem black;

        
        cursor: pointer;
        font: {
          family: "PiratesBlackbeard";
          size: 12rem;
        }
      }
      h2 {
        font-weight: lighter;
        padding: 0rem;
        margin: -2.5rem 0rem 0rem 0rem;
        color: #f82249;
        // color: $blanco;
        text-align: center;
        -webkit-text-stroke: 0.06rem rgb(0, 0, 0);
        text-shadow: 0.3rem 0.3rem 0.3rem black;
        cursor: pointer;
        font: {
          // Londrina Outline, Monoton, PressStart,
          family: "Vampiro One";
          size: 4rem;
        }
      }
      h1:hover,
      h1:hover ~ h2 {
        transition: 0.5s;
        -webkit-text-stroke: 0.05rem rgb(0, 0, 0);
        // text-shadow: 0.3rem 0.3rem 0.3rem gray;
        color: #ff1177;
        // text-shadow: 0px 10px 50px rgb(255, 228, 2);
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
          0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177,
          0 0 100px #ff1177, 0 0 150px #ff1177;
      }
      .borde {
        width: 100%;
        height: 0.2rem;
        margin: -2rem 0rem 3.5rem 0rem;
        border-bottom: 3px solid #f82249;
        -webkit-box-stroke: 0.06rem rgb(0, 0, 0);
        box-shadow: 0.3rem 0.3rem 0.3rem black;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .salidaIzquierda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    //   background-color: salmon;
    margin: 0rem 0rem 0rem -8rem;
    margin-right: 50rem;
    width: 100%;
    height: calc(1vw + 20rem);
    // background-color: skyblue;
    overflow: hidden;
    border-radius: 0rem 5rem 5rem 0rem;
    width: 100%;
    height: calc(11vw + 1rem);
    padding: 1rem;
    background-color: green;
    //   border: 0.1rem solid #00cc00; /* Color del borde, debe ser más claro que fondo */
    //   background: #00d800; /* Fondo */
    // box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(120, 120, 120, 0.4),
    //     inset -0.3rem -0.3rem 0.1rem rgba(255, 255, 255, 0.4);
    // transition-duration: 20s;
    background: #ff8d23; /* Fondo, debe ser más claro que el borde */
    border: 1rem inset #ff6923; /* Grosor del Borde */ /* Color del Borde */
    border-left: 0rem;
    border-radius: 1rem;
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4),
      0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);
    // box-shadow: 3px 4px 0.6rem rgb(4, 4, 5), 0 0 0 #000, 0.1rem 4px 0.6rem rgb(4, 4, 5);
    //     border: 0.1rem solid #00cc00; /* Color del borde, debe ser más oscuro que fondo */
    // background: #00f400; /* Fondo */
    // border-radius: 0.6rem;  /* Bordes redondos */
    // box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(255,255,255,.7), inset -0.2rem -0.2rem 0.3rem rgba(0,0,0,.1), 0.2rem 0.2rem 10px rgba(0,0,0,.1);
    // text-shadow: 0.1rem 0.1rem 0.1rem rgba(255,255,255,.9);  /* Sombra del texto */
    // text-align: center;  /* Alineación del texto */
    .global {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // padding: 1rem;
      //   background-color: $info;
      .descripcion {
        overflow: hidden;
        // width: 70%;
        // border-radius: 0rem 5rem 5rem 0rem;
        padding: 0rem 2rem 0rem 10rem;
        //   margin: 0rem 3rem 0rem 0rem;
        // width: 70%;
        // background-color: skyblue;
        p {
          //   padding: 3rem;
          //   width: 70%;
        }
      }
      .grafico {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        //   width: 100rem;
        //   border-radius: 0rem 5rem 5rem 0rem;
        //   overflow: hidden;
        // width: 20rem;
        // height: 15rem;
        //   height: 100%;
        //   width: 100%;
        // background-color: seagreen;
        // height: 20rem;
        // width: 30rem;
        // overflow: hidden;
        // width: 30%;
        // height: calc(20vw + 1rem);
        border-radius: 0rem 0.6rem 0.6rem 0rem;
        // border-radius: 0rem 2rem 2rem 0rem;
        // overflow: hidden;
        img {
          // width: 20rem;
          // height: 222rem;
          height: calc(10vw + 1rem);
          // border-radius: 0rem 5rem 5rem 0rem;
          width: calc(10vw + 1rem);
        }
      }
    }
  }
}
.principal {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2.5rem;
  // background-color: green;
  background: {
    // image: url("../../../assets/images/fondos/tecnologia.jpg");
    size: cover;
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  .textoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 2.5rem;
    min-width: 10rem;
    // background-color: aqua;
    // padding: 5rem;
    .tituloPrincipal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      margin-bottom: 2.5rem;
      // background-color: blue;
      .borde {
        width: 9rem;
        margin: 0.2rem 0rem 0.5rem 0rem;
        border: 0.1rem solid #f82249;
      }
      h3 {
        margin: 0rem;
        cursor: pointer;
      }
      h3:hover + .borde {
        transition: 1s;
        width: 100%;
      }
    }
    p {
      font-size: 1.8rem;
    }
  }
  .imagenPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // background-color: chocolate;
    width: 40%;
    margin: 2.5rem;
    // min-width: 20rem;
    // background-color: blue;
    // width: 20%;
    img {
      width: 100%;
      height: auto;
    }
  }
  //   @supports(object-fit: cover){
  //     .imagenPrincipal{ img{
  //       height: 100%;
  //       object-fit: cover;
  //       object-position: center center;
  //     }
  // }
  //   }
}
@media only screen and (max-width: 700px) {
  .principal {
    .textoPrincipal {
      width: 100%;
      .tituloPrincipal {
        .borde {
        }
        h2 {
        }
        h2:hover + .borde {
        }
      }
      p {
      }
    }
    .imagenPrincipal {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
.muestrario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0rem;
  // width: 100%;
  // background-color: black;
  // .titulo{
  // background-color: black;
  // padding: 2.5rem;

  .borde {
    width: 6rem;
    margin: 0.2rem 0rem 0.5rem 0rem;
    border: 0.2rem solid #f82249;
  }
  h2 {
    cursor: pointer;
  }
  h2:hover + .borde {
    width: 95%;
    margin: 0.2rem 0rem 0.5rem 0rem;
    border: 0.2rem solid #f82249;
    transition-duration: 2s;
  }
  // }
  .composicion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // width: 100%;

    .filaMuestrario {
      width: 25%;
      overflow: hidden;
      img {
        width: 100%;
      }
      p {
        // padding: 5rem;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
}
.conocimientos {
  background-color: rgb(249, 249, 249);
  // box-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0rem 1rem 0.5rem rgba(0, 0, 0, 0.39),
    inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
  // box-shadow:
  //   inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
  padding: 2.5rem;
  // background-color: brown;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    // background-color: burlywood;
    .borde {
      width: 6rem;
      margin: 0.2rem 0rem 0rem 0rem;
      border: 0.2rem solid #f82249;
    }
    h2 {
      cursor: pointer;
    }
    h2:hover + .borde {
      width: 100%;
      // margin: 0.2rem 0rem 0.5rem 0rem;
      border: 0.2rem solid #f82249;
      transition-duration: 2s;
    }
    .contenido {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;
      // background-color: chartreuse;
      padding: 0;
      .barras {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        // background-color: blue;
        width: 40%;
        min-width: 20rem;
        margin: 2.5rem;
        p {
          //   padding: 3rem;
        }
        .progreso {
          // display: flex;
          // flex-direction: row;
          // align-items: center;
          // justify-content: center;
          height: 2rem;
          min-width: 100%;
          margin-bottom: 2rem;
          // overflow: hidden;
          background-color: #f5f5f5;
          border-radius: 4px;
          border: 0.1rem solid #c7c7c7;
          -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          .lenguaje {
            position: absolute;
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // justify-content: center;
            width: 40%;
            transition: 1s;
            // background-color: chartreuse;
            p {
              // width: 50%;
              font-weight: bold;
              // color: black;
              opacity: 1;
              // animation: fadeIn delay 10s;
              // -webkit-animation-delay: 1s;
              // -webkit-animation-duration: 2s;
              // -webkit-animation: fadeIn ease 10s;
              animation-name: fadeIn;
              animation-duration: 3s;
              animation-timing-function: ease-in;
              animation-delay: 0s;
              animation-direction: linear;
              animation-iteration-count: 1;
              // animation-fill-mode: none;
              animation-play-state: running;
            }
            @keyframes fadeIn {
              0% {
                opacity: 0;
              }
              40% {
                lopacity: 0;
              }
              60% {
                opacity: 0;
              }
              80% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
          }
          .progreso40,
          .progreso50 {
            animation: barraProgreso50 4s linear;
            max-width: 50%;
            width: 50%;
            background-color: #f0ad4e;
            height: 20px;
          }
          .progreso60,
          .progreso70 {
            animation: barraProgreso60 4s linear;
            max-width: 60%;
            width: 60%;
            background-color: #ffc107;
            height: 20px;
          }
          .progreso70 {
            max-width: 70%;
            width: 70%;
          }
          .progreso80 {
            animation: barraProgreso80 4s linear;
            max-width: 80%;
            width: 80%;
            background-color: #5bc0de;
            height: 20px;
          }
          .progreso90,
          .progreso100 {
            animation: barraProgreso90 4s linear;
            max-width: 80%;
            width: 80%;
            background-color: #5cb85c;
            height: 20px;
          }
          .progreso100 {
            max-width: 100%;
            width: 100%;
            // background-color: #5cb85c;
          }
        }
      }
    }
    .descripcion {
      min-width: 20rem;

      width: 40%;
      margin: 2.5rem;
      p {
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .conocimientos {
    .container {
      .borde {
      }
      h2:hover + .borde {
      }
      .contenido {
        .barras {
          width: 90%;
          p {
          }
          .progreso {
            .lenguaje {
              position: absolute;
              width: 80%;
              p {
                animation-duration: 4s;
              }
            }
            .progreso40,
            .progreso50 {
            }
            .progreso60,
            .progreso70 {
            }
            .progreso70 {
            }
            .progreso80 {
            }
            .progreso90,
            .progreso100 {
            }
            .progreso100 {
            }
          }
        }
      }
      .descripcion {
        width: 100%;
      }
    }
  }
}
.sobreMi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.5rem;
  background-color: rgb(249, 249, 249);
  // box-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0rem 1rem 0.5rem rgba(0, 0, 0, 0.39);
  // inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
  .borde {
    width: 6rem;
    margin: 0.2rem 0rem 2.5rem 0rem;
    border: 0.2rem solid #f82249;
  }
  h2 {
    cursor: pointer;
  }
  h2:hover + .borde {
    width: 100%;
    // margin: 0.2rem 0rem 0.5rem 0rem;
    border: 0.2rem solid #f82249;
    transition-duration: 1s;
  }
  p {
  }
  .imagenMi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2.5rem;
    img {
      // display: block;
      // margin: 2rem auto;
      // margin-bottom: 2em;
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      cursor: pointer;
    }
    img:hover {
      @include shake;
    }
  }
  .redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .iconoSocial {
      margin: 0.3rem;
      border-radius: 50%;
      display: inline-block;
      display: block;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      a {
        width: 5rem;
        height: 5rem;
        color: white;
        // font-weight:bold;
        text-align: center;
        text-justify: center;
        text-decoration: none;
        // background-color:#FFA12B;
        display: block;
        // position: relative;
        // -webkit-box-shadow: 0 0px 0 #c7c7c7, 0 0.15rem 0 #c7c7c7;
        // -moz-box-shadow: 0 0px 0 #c7c7c7, 0 0.15rem 0 #c7c7c7;
        // box-shadow: 0 0px 0 #c7c7c7, 0 0.15rem 0 #c7c7c7;
        // -webkit-border-radius: 5px;
        // -moz-border-radius: 5px;
        border-radius: 50px;
        i {
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          // justify-content: center;
          color: #fff;
          font-size: 3.7rem;
          margin-top: 0.6rem;
        }
      }
      a:active {
        top: 1px;
        // background-color:#F78900;
        display: block;
        -webkit-box-shadow: inset 0 1px 0 #c7c7c7, 0 1px 0 #c7c7c7;
        -moz-box-shadow: inset 0 1px 0 #c7c7c7, 0 1px 0 #c7c7c7;
        box-shadow: inset 0 1px 0 #c7c7c7, 0 1px 0 #c7c7c7;
      }
    }
    .facebook-bg {
      background: #3b5998;
    }
    .twitter-bg {
      background: #55acee;
    }
    .google-bg {
      background: #dd4b39;
    }
    .youtube-bg {
      background: #cc181e;
    }
    .instagram-bg {
      background: #f09433;
      background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    .linkedin-bg {
      background: #0e76a8;
    }
    .github-bg {
      background: black;
      a {
        i {
          // margin-bottom: 0.5rem;
          font-size: 4rem;
        }
      }
    }
    .whatsapp-bg {
      background: #4dc247;
    }
  }
  .iconoSocial:hover {
    // @include rotacion;
    // @include voltear;
    // @include new;
    // @include estilos;
    @include viturbo;
    // transform: scale(1.3);
  }
}
//--------------------------------------------
//------------------------------
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.barra {
  // float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  // background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.marcasBarra,
.progress-striped .barra {
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.barra.activo,
.progress.activo .barra {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
//---@keyframes barras
@keyframes barraProgreso50 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #f0ad4e;
  }
  75% {
    background-color: #f0ad4e;
  }
  95% {
    background-color: #f0ad4e;
  }
  100% {
    width: 100%;
    background-color: #f0ad4e;
  }
}
@keyframes barraProgreso60 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #ffc107;
  }
  75% {
    background-color: #ffc107;
  }
  95% {
    background-color: #ffc107;
  }
  100% {
    width: 100%;
    background-color: #ffc107;
  }
}
@keyframes barraProgreso80 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #ffc107;
  }
  75% {
    background-color: #5bc0de;
  }
  95% {
    background-color: #5bc0de;
  }
  100% {
    width: 100%;
    background-color: #5bc0de;
  }
}
@keyframes barraProgreso90 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #ffc107;
  }
  75% {
    background-color: #5bc0de;
  }

  90% {
    background-color: #5bc0de;
  }
  100% {
    width: 100%;
    background-color: #5cb85c;
  }
}
