// @import "../../../assets/style/sass/mixins/mixins.scss";
@import "../../../assets/style/variables/variables.scss";

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
// $breakpoint-xs: 0;
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 990.2rem;
// $breakpoint-xl: 1200px;

/*Carousel*/
.containerCarousel {
    text-shadow: -0.1rem -0.1rem rgba(0,0,0,.2);
    box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4),  0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);
  // position: absolute;
  //   margin-top: -20rem;
  .carousel-caption {
    bottom: 70px;
    background: rgba(3, 3, 3, 0.3);
    padding-right: 20px;
    padding-left: 20px;
  }
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-indicators li {
    height: 15px;
    width: 15px;
    border: 0.1rem solid #eee;
  }
  .carousel-indicators .active {
    height: 17px;
    width: 17px;
    background-color: #e41b17;
  }
  .carousel-inner > .item > img {
    width: 100%;
  }
  /**********End Overriding Bootstrap********/
  /*Start Section About*/
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about .about-paragraph1 {
    color: #888;
    font-size: 25px;
    margin-top: 15px;
  }
  .about .about-paragraph2 {
    color: #888;
    font-size: 17px;
    margin-top: 15px;
  }
  .about h1 {
    font-weight: bold;
  }
  .about h2 {
    font-weight: bold;
  }
  .about h1 span {
    color: #e41b17;
  }
  .about h2 span {
    color: #e41b17;
  }
  /*End Section About*/
  /*Start Section Features*/
  .features {
    overflow: hidden;
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .features .feat {
    margin-bottom: 30px;
  }
  .features .feat p {
    line-height: 2em;
  }
  .features .feat span.glyphicon {
    font-size: 20px;
    margin-bottom: 10px;
    color: #666;
  }
  /*End Section Features*/
  /*Start Section Testimonials*/
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials .lead {
    line-height: 2em;
    margin-bottom: 10px;
  }
  .testimonials span {
    font-size: 18px;
    font-weight: bold;
    color: #e41b17;
  }
  .testimonials .carousel-indicators {
    //postion: static;
    //width: 100%;
    //margin-left: auto;
    padding-top: 20px;
  }
  .testimonials .carousel-indicators li {
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
  }
  .testimonials .carousel-indicators li.active {
    width: 80px;
    height: 80px;
    opacity: 1;
    background: none;
    border: 0.2rem solid #e41b17;
  }

  .testimonials .carousel-indicators li img {
    max-width: 100%;
  }
}
/*End Section carousel*/


.carousel-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    // background-color: $negro;

    h1 {
      font-weight: lighter;
      padding: 0rem;
      margin: 0rem 0rem -3.5rem 0rem;
      color: #f82249;
      // color: $blanco;
      text-align: center;
      -webkit-text-stroke: 0rem;
      text-shadow: none;

      font: {
        family: "PiratesBlackbeard";
        size: 8rem;
      }
    }
    h1:hover {
      transition: 0.5s;
      -webkit-text-stroke: 0.05rem rgb(0, 0, 0);
      // text-shadow: 0.3rem 0.3rem 0.3rem gray;

      color: #ffe402;
      text-shadow: 0px 10px 50px rgb(255, 228, 2);
    }
    h2 {
      font-weight: lighter;
      padding: 0rem;
      margin: -2.5rem 0rem 0rem 0rem;
      color: #f82249;
      // color: $blanco;
      text-align: center;
      -webkit-text-stroke: 0rem;
      text-shadow: none;

      font: {
        // Londrina Outline, Monoton, PressStart,
        family: "Vampiro One";
        size: 3rem;
      }
    }
    hr {
      width: 100%;
      margin: 2rem 0rem 2.5rem 0rem;
      border: 1px solid #f82249;
    }
  }



.salidaIzquierda {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  //   background-color: salmon;
  margin: 0rem 0rem 0rem -3rem;
  margin-right: 50rem;
  width: 100%;
  height: calc(1vw + 20rem);
  // background-color: skyblue;

  overflow: hidden;
  border-radius: 0rem 5rem 5rem 0rem;
  width: 100%;
  height: calc(11vw + 1rem);
  padding: 1rem;

  border: 0.1rem solid #00cc00; /* Color del borde, debe ser más claro que fondo */
  background: #00d800; /* Fondo */
box-shadow: inset 0.2rem 0.2rem 0.4rem rgba(120, 120, 120, 0.4),
    inset -0.3rem -0.3rem 0.1rem rgba(255, 255, 255, 0.4);


  
// transition-duration: 20s;
  background: #2323ff;  /* Fondo, debe ser más claro que el borde */
  border: 1rem inset #4444ff;  /* Grosor del Borde */  /* Color del Borde */
  border-left: 0rem;
  border-radius: 1rem;
  color: white;  /* Color del texto */
  text-align: center;  /* Alineación del texto */
  text-shadow: -0.1rem -0.1rem rgba(0,0,0,.2);
  box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4),  0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);

  // box-shadow: 3px 4px 0.6rem rgb(4, 4, 5), 0 0 0 #000, 0.1rem 4px 0.6rem rgb(4, 4, 5);

  //     border: 0.1rem solid #00cc00; /* Color del borde, debe ser más oscuro que fondo */
  // background: #00f400; /* Fondo */
  // border-radius: 0.6rem;  /* Bordes redondos */
  // box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(255,255,255,.7), inset -0.2rem -0.2rem 0.3rem rgba(0,0,0,.1), 0.2rem 0.2rem 10px rgba(0,0,0,.1);
  // text-shadow: 0.1rem 0.1rem 0.1rem rgba(255,255,255,.9);  /* Sombra del texto */
  // text-align: center;  /* Alineación del texto */

  
  .global {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // padding: 1rem;
    //   background-color: $info;

    .descripcion {
      overflow: hidden;
      // width: 70%;
      // border-radius: 0rem 5rem 5rem 0rem;
      padding: 0rem 2rem 0rem 5rem;

      //   margin: 0rem 3rem 0rem 0rem;
      // width: 70%;
      // background-color: skyblue;
      p {
        //   padding: 3rem;
        //   width: 70%;
      }
    }
    .grafico {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      //   width: 100rem;
      //   border-radius: 0rem 5rem 5rem 0rem;
      //   overflow: hidden;
      // width: 20rem;
      // height: 15rem;
      //   height: 100%;
      //   width: 100%;
      background-color: seagreen;
      // height: 20rem;
      // width: 30rem;
      // overflow: hidden;
      // width: 30%;
      // height: calc(20vw + 1rem);
      border-radius: 0rem 0.6rem 0.6rem 0rem;
      // border-radius: 0rem 2rem 2rem 0rem;
      // overflow: hidden;
      img {
        // width: 20rem;
        // height: 222rem;
        height: calc(10vw + 1rem);
        // border-radius: 0rem 5rem 5rem 0rem;
        width: calc(10vw + 1rem);
      }
    }
  }
}

// .salidaDrecha {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: flex-end;
//   background-color: rgb(97, 45, 39);
//   // padding: 20rem;
//   margin: 5rem 0rem 5rem 0rem;
//   .global {
//       padding: 1rem;
//     .conoceme {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       justify-content: flex-end;
//       background-color: $info;
//       width: 90%;
//       // height: 20rem;
//       border-radius: 5rem 0rem 0rem 5rem;
//       // margin: 5rem 0rem 5rem 0rem;
//       .descripcion {
//         //   margin: 0rem 0rem 0rem 3rem;
//         p {
//           padding: 3rem;
//         }
//       }
//       .grafico {
//         //   border-radius: 5rem 0rem 0rem 5rem;
//         // overflow: hidden;
//         // width: 20rem;
//         // height: 15rem;

//         img {
//           width: 30rem;
//           border-radius: 2rem 0rem 0rem 2rem;
//         }
//       }
//     }
//   }
// }

// .inicio {
//   transition-duration: 3s;
//   padding: 0rem 5rem 0rem 5rem;
//   strong {
//     //color: black;
//     font-size: 2.4rem;
//     -webkit-text-stroke: 0.1rem rgb(10, 9, 49);
//     text-shadow: 0rem 0rem 0.3rem rgba(252, 252, 252, 0.479);
//   }
//   e {
//     color: $azul;
//     cursor: pointer;
//   }
//   a {
//     color: $azul;
//     text-decoration: none;
//   }
//   p {
//     text-shadow: 0.1rem 0.1rem 0.1rem gray;
//   }
// }
