@charset "UTF-8";
/*Carousel*/
.containerCarousel {
  text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  /**********End Overriding Bootstrap********/
  /*Start Section About*/
  /*End Section About*/
  /*Start Section Features*/
  /*End Section Features*/
  /*Start Section Testimonials*/
}

.containerCarousel .carousel-caption {
  bottom: 70px;
  background: rgba(3, 3, 3, 0.3);
  padding-right: 20px;
  padding-left: 20px;
}

.containerCarousel .carousel-indicators {
  bottom: 0;
}

.containerCarousel .carousel-indicators li {
  height: 15px;
  width: 15px;
  border: 0.1rem solid #eee;
}

.containerCarousel .carousel-indicators .activo {
  height: 17px;
  width: 17px;
  background-color: #e41b17;
}

.containerCarousel .carousel-inner > .item > img {
  width: 100%;
}

.containerCarousel .about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.containerCarousel .about .about-paragraph1 {
  color: #888;
  font-size: 25px;
  margin-top: 15px;
}

.containerCarousel .about .about-paragraph2 {
  color: #888;
  font-size: 17px;
  margin-top: 15px;
}

.containerCarousel .about h1 {
  font-weight: bold;
}

.containerCarousel .about h2 {
  font-weight: bold;
}

.containerCarousel .about h1 span {
  color: #e41b17;
}

.containerCarousel .about h2 span {
  color: #e41b17;
}

.containerCarousel .features {
  overflow: hidden;
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
}

.containerCarousel .features .feat {
  margin-bottom: 30px;
}

.containerCarousel .features .feat p {
  line-height: 2em;
}

.containerCarousel .features .feat span.glyphicon {
  font-size: 20px;
  margin-bottom: 10px;
  color: #666;
}

.containerCarousel .testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}

.containerCarousel .testimonials .lead {
  line-height: 2em;
  margin-bottom: 10px;
}

.containerCarousel .testimonials span {
  font-size: 18px;
  font-weight: bold;
  color: #e41b17;
}

.containerCarousel .testimonials .carousel-indicators {
  padding-top: 20px;
}

.containerCarousel .testimonials .carousel-indicators li {
  text-indent: 0;
  width: 80px;
  height: 80px;
  opacity: 0.5;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
}

.containerCarousel .testimonials .carousel-indicators li.activo {
  width: 80px;
  height: 80px;
  opacity: 1;
  background: none;
  border: 0.2rem solid #e41b17;
}

.containerCarousel .testimonials .carousel-indicators li img {
  max-width: 100%;
}

/*End Section carousel*/
.titular {
  overflow: hidden;
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0rem 1rem 0.5rem rgba(0, 0, 0, 0.39), inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
          box-shadow: inset 0rem 1rem 0.5rem rgba(0, 0, 0, 0.39), inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
}

.titular .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.titular .titulo .neonTitulo h1 {
  font-weight: lighter;
  padding: 0rem;
  margin: 0rem 0rem -3.5rem 0rem;
  color: #f82249;
  text-align: center;
  -webkit-text-stroke: 0.06rem black;
  text-shadow: 0.4rem 0.4rem 0.3rem black;
  font-family: "PiratesBlackbeard";
  font-size: 12rem;
}

.titular .titulo .neonTitulo h1:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-text-stroke: 0.05rem black;
  color: #ff1177;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
}

.titular .titulo .neonTitulo h2 {
  font-weight: lighter;
  padding: 0rem;
  margin: -2.5rem 0rem 0rem 0rem;
  color: #f82249;
  text-align: center;
  -webkit-text-stroke: 0.06rem black;
  text-shadow: 0.3rem 0.3rem 0.3rem black;
  font-family: "Vampiro One";
  font-size: 5rem;
}

.titular .titulo .neonTitulo .borde {
  width: 100%;
  height: 0.2rem;
  margin: 2rem 0rem 2.5rem 0rem;
  -webkit-text-stroke: 0.6rem black;
  border-bottom: 3px solid #f82249;
  text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0rem 1rem 0.9rem rgba(8, 8, 8, 0.4);
          box-shadow: 0rem 1rem 0.9rem rgba(8, 8, 8, 0.4);
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.titular .salidaIzquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0rem 0rem 0rem -8rem;
  margin-right: 50rem;
  width: 100%;
  height: calc(1vw + 20rem);
  overflow: hidden;
  border-radius: 0rem 5rem 5rem 0rem;
  width: 100%;
  height: calc(11vw + 1rem);
  padding: 1rem;
  background-color: green;
  background: #ff8d23;
  /* Fondo, debe ser más claro que el borde */
  border: 1rem inset #ff6923;
  /* Grosor del Borde */
  /* Color del Borde */
  border-left: 0rem;
  border-radius: 1rem;
  color: white;
  /* Color del texto */
  text-align: center;
  /* Alineación del texto */
  text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4), 0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);
          box-shadow: 0.8rem 0.8rem 0.4rem rgba(8, 8, 8, 0.4), 0.3rem 0.3rem 0.3rem rgba(2, 0, 0, 0.4);
}

.titular .salidaIzquierda .global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titular .salidaIzquierda .global .descripcion {
  overflow: hidden;
  padding: 0rem 2rem 0rem 10rem;
}

.titular .salidaIzquierda .global .grafico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 0rem 0.6rem 0.6rem 0rem;
}

.titular .salidaIzquierda .global .grafico img {
  height: calc(10vw + 1rem);
  width: calc(10vw + 1rem);
}

.principal {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10rem 10rem 10rem 10rem;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.principal .textoPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  padding: 5rem;
}

.principal .textoPrincipal .tituloPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.principal .textoPrincipal .tituloPrincipal .borde {
  width: 9rem;
  margin: 0.2rem 0rem 0.5rem 0rem;
  border: 0.1rem solid #f82249;
}

.principal .textoPrincipal .tituloPrincipal h2 {
  margin: 0rem;
  cursor: pointer;
}

.principal .textoPrincipal .tituloPrincipal h2:hover + .borde {
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
}

.principal .textoPrincipal p {
  font-size: 1.8rem;
  color: black;
}

.principal .imagenPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: chocolate;
  width: 50%;
}

.principal .imagenPrincipal img {
  width: 40%;
}

.muestrario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.muestrario .borde {
  width: 6rem;
  margin: 0.2rem 0rem 0.5rem 0rem;
  border: 0.2rem solid #f82249;
}

.muestrario h2:hover + .borde {
  width: 45rem;
  margin: 0.2rem 0rem 0.5rem 0rem;
  border: 0.2rem solid #f82249;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.muestrario .composicion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.muestrario .composicion .filaMuestrario {
  width: 33.3333%;
  overflow: hidden;
}

.muestrario .composicion .filaMuestrario img {
  width: 100%;
}

.muestrario .composicion .filaMuestrario p {
  color: black;
  padding: 5rem;
}

.conocimientos {
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0rem 1rem 0.5rem rgba(0, 0, 0, 0.39), inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
          box-shadow: inset 0rem 1rem 0.5rem rgba(0, 0, 0, 0.39), inset 0rem -1rem 0.5rem rgba(0, 0, 0, 0.39);
}

.conocimientos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conocimientos .container .borde {
  width: 6rem;
  margin: 0.2rem 0rem 0.5rem 0rem;
  border: 0.2rem solid #f82249;
}

.conocimientos .container h2:hover + .borde {
  width: 45rem;
  margin: 0.2rem 0rem 0.5rem 0rem;
  border: 0.2rem solid #f82249;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.conocimientos .container .contenido p {
  color: black;
}

.conocimientos .container .contenido .lenguaje {
  width: 100%;
  position: absolute;
}

.conocimientos .container .contenido .lenguaje p {
  font-weight: bold;
}

.conocimientos .container .progreso {
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 0.1rem solid #c7c7c7;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.conocimientos .container .progreso40,
.conocimientos .container .progreso50 {
  -webkit-animation: barraProgreso50 4s linear;
          animation: barraProgreso50 4s linear;
  max-width: 50%;
  width: 50%;
  background-color: #f0ad4e;
  height: 20px;
}

@-webkit-keyframes barraProgreso50 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #f0ad4e;
  }
  75% {
    background-color: #f0ad4e;
  }
  95% {
    background-color: #f0ad4e;
  }
  100% {
    width: 100%;
    background-color: #f0ad4e;
  }
}

@keyframes barraProgreso50 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #f0ad4e;
  }
  75% {
    background-color: #f0ad4e;
  }
  95% {
    background-color: #f0ad4e;
  }
  100% {
    width: 100%;
    background-color: #f0ad4e;
  }
}

.conocimientos .progreso60,
.conocimientos .progreso70 {
  -webkit-animation: barraProgreso60 4s linear;
          animation: barraProgreso60 4s linear;
  max-width: 60%;
  width: 60%;
  background-color: #ffc107;
  height: 20px;
}

@-webkit-keyframes barraProgreso60 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #ffc107;
  }
  75% {
    background-color: #ffc107;
  }
  95% {
    background-color: #ffc107;
  }
  100% {
    width: 100%;
    background-color: #ffc107;
  }
}

@keyframes barraProgreso60 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #ffc107;
  }
  75% {
    background-color: #ffc107;
  }
  95% {
    background-color: #ffc107;
  }
  100% {
    width: 100%;
    background-color: #ffc107;
  }
}

.conocimientos .progreso70 {
  max-width: 70%;
  width: 70%;
}

.conocimientos .progreso80 {
  -webkit-animation: barraProgreso80 4s linear;
          animation: barraProgreso80 4s linear;
  max-width: 80%;
  width: 80%;
  background-color: #5bc0de;
  height: 20px;
}

@-webkit-keyframes barraProgreso80 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #ffc107;
  }
  75% {
    background-color: #5bc0de;
  }
  95% {
    background-color: #5bc0de;
  }
  100% {
    width: 100%;
    background-color: #5bc0de;
  }
}

@keyframes barraProgreso80 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #ffc107;
  }
  75% {
    background-color: #5bc0de;
  }
  95% {
    background-color: #5bc0de;
  }
  100% {
    width: 100%;
    background-color: #5bc0de;
  }
}

.conocimientos .progreso90,
.conocimientos .progreso100 {
  -webkit-animation: barraProgreso90 4s linear;
          animation: barraProgreso90 4s linear;
  max-width: 80%;
  width: 80%;
  background-color: #5cb85c;
  height: 20px;
}

@-webkit-keyframes barraProgreso90 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #ffc107;
  }
  75% {
    background-color: #5bc0de;
  }
  90% {
    background-color: #5bc0de;
  }
  100% {
    width: 100%;
    background-color: #5cb85c;
  }
}

@keyframes barraProgreso90 {
  0% {
    width: 0%;
    background-color: #d9534f;
  }
  20% {
    background-color: #d9534f;
  }
  25% {
    width: 25%;
    background-color: #f0ad4e;
  }
  45% {
    background-color: #f0ad4e;
  }
  50% {
    width: 50%;
    background-color: #f0ad4e;
  }
  70% {
    background-color: #ffc107;
  }
  75% {
    background-color: #5bc0de;
  }
  90% {
    background-color: #5bc0de;
  }
  100% {
    width: 100%;
    background-color: #5cb85c;
  }
}

.conocimientos .progreso100 {
  max-width: 100%;
  width: 100%;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.barra {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.marcasBarra,
.progress-striped .barra {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.barra.activo,
.progress.activo .barra {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
/*# sourceMappingURL=inicio.css.map */