@import "../../../assets/style/sass/mixins/mixins.scss";
@import "../../../assets/style/sass/variables/variables.scss";

.head {
  @include head;
}
.inicio {
  @include rotacion;
  transition-duration: 3s;
  padding: 0rem 5rem 0rem 5rem;
  strong {
    //color: black;
    font-size: 2.4rem;
    -webkit-text-stroke: 0.1rem rgb(10, 9, 49);
    text-shadow: 0rem 0rem 0.3rem rgba(252, 252, 252, 0.479);
  }
  e {
    color: $azul;
    cursor: pointer;
  }
  a {
    color: $azul;
    text-decoration: none;
  }
  p {
    text-shadow: 0.1rem 0.1rem 0.1rem gray;
  }
}
