// @import "../funciones/funciones.scss";
// @import "../../css/styles/style.css";
$corporativo:#3c97bf;//lightskyblue;
$fondo: #272727;
$marcoFoto: 0.8rem solid #eeeeee;
$sombreadoTotal: #555 1px 1px 8px 1px;
$bg-color: #df0174;
$gris: #272727;
$azulClaro: lightskyblue;
$azul: #00c6ee; //$azul: #00C6EE;
$azulOscuro: blue;
$rojo: #f80000;
$oro: #eabe3f;
$amarillo: #ffff00;
$negro: #0a0a0a;
$vainilla: #e9d58d;
$blanco: #eeeeee;
$naranja: orangered;
$verde:#008f39;
$rosa:#ff0080;
$morado:#9c27b0;
$marron:#a05000;
$morado2:#800080;
$amarillento:blanchedalmond;