@import "../../../assets/style/variables/variables.scss";
// $blue: #007bff;
// $indigo: #6610f2;
// $purple: #6f42c1;
// $pink: #e83e8c;
// $red: #dc3545;
// $orange: #fd7e14;
// $yellow: #ffc107;
// $green: #28a745;
// $teal: #20c997;
// $cyan: #17a2b8;
// $white: #fff;
// $gray: #6c757d;
// $gray-dark: #343a40;
// $primary: #007bff;
// $secondary: #6c757d;
// $success: #28a745;
// $info: #17a2b8;
// $warning: #ffc107;
// $danger: #dc3545;
// $light: #f8f9fa;
// $dark: #343a40;
// $breakpoint-xs: 0;
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-xl: 1200px;
// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
//   Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
//   "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
//   "Liberation Mono", "Courier New", monospace;

footer {
  background: #151414;
  position: relative;
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // width: 90%;
    padding: 3rem;

    .primeraFila {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      // background-color: #ff5e14;
      hr {
        margin: 3rem;

        border: 1px solid #373636;
        width: 100%;
        // margin: 3rem;
      }
      .footerContact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        // justify-content: start;
        // border-bottom: 1px solid #373636 ;
        // background-color: aqua;
        width: 100%;
        .contactoInfo {
          display: grid;
          grid-template-columns: [x0] 0.5fr [x1] 1fr [x2] 1fr [x3] 1fr [x4];
          grid-template-rows: [y0] 1fr [y1] 1fr [y2];
          grid-column-gap: 0rem;
          grid-row-gap: 0rem;
          grid-gap: 0rem 0rem;
          // background-color: blue;
          // width: 30%;
          min-width: 200px;
          max-width: 350px;
          .icono {
            grid-column: x0 / x1;
            grid-row: y0 / y2;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            i {
              color: #ff5e14;
              font-size: 30px;
              // float: left;
              margin-top: 0.8rem;
            }
          }
          .texto {
            grid-column: x1 / x3;
            grid-row: y0 / y2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 15px;
            display: inline-block;
            h4 {
              color: #fff;
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 2px;
            }
            p {
              color: #757575;
              font-size: 15px;
            }
          }
        }
      }
    }

    .segundaFila {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      width: 90%;
      .presentacion {
        width: 30%;
        min-width: 200px;
        max-width: 350px;

        .logo {
          margin-bottom: 3rem;
          a {
            img {
              max-width: 20rem;
            }
          }
        }
        .texto {
          p {
            margin-bottom: 14px;
            font-size: 14px;
            color: #7e7e7e;
            line-height: 28px;
          }
        }
        .socialMedia {
          h4 {
            color: #fff;
            display: block;
            font-size: 20px;
            font-weight: 700;
            font-family: "Poppins", sans-serif;
            margin-bottom: 0.5rem;
          }
          .redes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            .iconoSocial {
              margin: 0.3rem;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              width: 3rem;
              height: 3rem;
              // background-color: violet;
              border-radius: 50%;

              a {
                // display: flex;
                // flex-direction: row;
                // flex-wrap: wrap;
                // align-items: center;
                // justify-content: space-around;

                justify-content: center;
                // font-size: 10rem;
                // width: 20rem;
                // font-size: 2rem;
                // margin-right: 15px;

                i {
                  color: #fff;
                  font-size: 2rem;

                  // height: 5rem;
                  // width: 5rem;
                  // text-align: center;
                  // line-height: 38px;
                 
                }
              }
            }
                .facebook-bg {
                  background: #3b5998;
                }
                .twitter-bg {
                  background: #55acee;
                }
                .google-bg {
                  background: #dd4b39;
                }
                .youtube-bg {
                  background: #cc181e;
                }
                .instagram-bg {
                  background: #f09433;
                  background: -moz-linear-gradient(
                    45deg,
                    #f09433 0%,
                    #e6683c 25%,
                    #dc2743 50%,
                    #cc2366 75%,
                    #bc1888 100%
                  );
                  background: -webkit-linear-gradient(
                    45deg,
                    #f09433 0%,
                    #e6683c 25%,
                    #dc2743 50%,
                    #cc2366 75%,
                    #bc1888 100%
                  );
                  background: linear-gradient(
                    45deg,
                    #f09433 0%,
                    #e6683c 25%,
                    #dc2743 50%,
                    #cc2366 75%,
                    #bc1888 100%
                  );
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                }
                .linkedin-bg {
                  background: #0e76a8;
                }
                .github-bg {
                  background: #000;
                }
                .whatsapp-bg {
                  background: #4dc247;
                }
             
          }
        }
        .titulo {
          h3 {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 40px;
            position: relative;
          }
          h3::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -15px;
            height: 2px;
            width: 50px;
            background: #ff5e14;
          }
        }
        .menuFooter {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          ul {
            // background-color: lawngreen;
            li {
              display: inline-block;
              // float: left;
              width: 50%;
              margin-bottom: 0.5rem;
              a {
                color: #878787;
                text-transform: capitalize;
                text-decoration: none;
              }
              a:hover {
                color: #ff5e14;
              }
            }
          }
        }
        .suscripcion {
          // grid-column: x0 / x2;
          // grid-row: y2 / y4;
          form {
            display: flex;
            flex-direction: row;
            background-color: #ff5e14;
            input {
              font-family: FontAwesome;
              width: 80%;
              padding: 1rem 28px;
              background: #2e2e2e;
              border: 1px solid #2e2e2e;
              color: #fff;
              max-width: 30rem;
            }
            button {
              width: 20%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
              background: #ff5e14;
              border: 1px solid #ff5e14;
              i {
                color: #fff;
                font-size: 22px;
                transform: rotate(-6deg);
              }
            }
          }
        }
      }
    }
  }
  .terceraFila {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // justify-content: space-between;
    // align-items: center;
    background: #202020;
    .copyright {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      // padding: 25px 0;
      .texto {
        min-width: 200px;
        margin: 3rem;
        p {
          margin: 0;
          font-size: 14px;
          color: #878787;
        }
        a {
          color: #ff5e14;
          text-decoration: none;
        }
      }
      .textosLegales {
        min-width: 200px;
        margin: 3rem;
        a {
          font-size: 14px;
          color: #878787;
          text-decoration: none;
        }
        a:hover {
          color: #ff5e14;
        }
      }
    }
  }
}
