@import "../../../assets/style/variables/variables.scss";

.menuGaleria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: sticky;
  // position: -webkit-fixed;  // required for Safari
  top: 0;
  width: 100%;
  background-color: $corporativo;
  .boton {
    font-size: 1.75rem;
    font-family: Verdana, Helvetica;
    font-weight: bold;
    color: $blanco;
    border: 0px;
    background: none;
    cursor: pointer;
    margin: 0.3rem 0.5rem 0.3rem 0.5rem;
  }
}
