@import "../../mixins/mixins.scss";
@import "../../variables/variables.scss";
@import "../../funciones/funciones.scss";
// .head {
//   @include head;
//   border-bottom: 0.05rem solid $corporativo;
// }
html,
body {
  background-image: url("../../../../images/gifs/fugaz.gif");
  .felicitacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #anio {
      display: none;
    }
    img {
      width: 20rem;
      margin: -7rem 0rem -3rem 0rem;
    }
  }
  .fiestas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 0rem 0rem 1rem;

    z-index: 10;
    position: fixed; //para que siga la pagina
    bottom: 4rem;
    img {
      width: 15rem;
      margin: 0rem 0rem 1rem 0rem;
    }
    .stop {
      background: $amarillo;
      color: $negro;
      width: 100%;
      padding: 0.5rem 0rem 0.5rem 0rem;
      font-size: calc(0.5rem + 1vw);
      cursor: pointer;
      border-radius: 0.9rem;
      border: 0.05rem solid $negro;
    }
    .stop:hover {
      background-color: white;
      color: $negro;
      border: 0.05rem solid $negro;
    }
  }
}
