// @import "../../../assets/style/sass/mixins/mixins.scss";
@import "../../../assets/style/sass/variables/variables.scss";
@mixin webs {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // align-items: center;
  // height: 20vw;
}
@mixin recuadro {
  // // width: 100%;
  // // border-radius: 2.5rem;
  // border: 0.5rem double $corporativo;
  // // margin-top: 5rem;
  // // overflow: hidden;
  // background-color: black;
}
@mixin titulo {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
  // border-radius: 25px 25px 0px 0px;
  // // border-bottom: 0.05rem solid $corporativo;

  // background: {
  //   //  color: purple;
  //   size: cover;
  // }
}

//---separadores--------------------------------------
// @mixin separador1 {
//   width: 100%;
//   height: 1rem;
// }
// @mixin separador2 {
//   width: 100%;
//   height: 2rem;
// }
// @mixin separador3 {
//   width: 100%;
//   height: 3rem;
// }
// @mixin separador4 {
//   width: 100%;
//   height: 4rem;
// }
// @mixin separador5 {
//   width: 100%;
//   height: 5rem;
// }



/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
.head {
  //@include head;
}
.miniWeb:hover {
  transition: 0.5s;
  border-color: black;
  box-shadow: 0rem 0rem 1.5rem 0.2rem rgba(0, 0, 0, 1);
}
.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .webs {
    width: 100%;
    height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //poner
    align-items: stretch;
    justify-content: space-around;
    .miniWeb {
      margin: 0rem 5rem 10rem 0rem;

    }
  
    .primeroscoc,
    .guerrasOnline,
    .tiendaTitanium,
    .titaniumGamers {
      // @include recuadro;
      // width: 100%;
      // border-radius: 2.5rem;
      border: 0.5rem double $blanco;
       width: 25%;
      min-width: 25rem;
      display: grid;
      grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5];
      grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3] 1fr [y4];
      .titulo {
        grid-column: x0 / x5;
        grid-row: y0 / y1;
      }
      .descripcion {
        grid-column: x0 / x5;
        grid-row: y1 / y4;
      }
              a {
        text-decoration: none;
      }
      .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 0.05rem solid $corporativo;
        background: {
          //  color: purple;
          size: cover;
        }
            h1 {
              font-size: 4em;
        }
      }
      .descripcion {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: black;
        p {
          color: $blanco;

          font: {
            // family: "FontAwesome", sans-serif;
            // size: 2.5rem;
          }
          // font-size: 1.7rem;
          a {
            text-decoration: none;
            color: $azul;
          }
          i {
            color: green;
          }
        }
        ul{list-style:none;}

        li::before{
          font-family:"FontAwesome";
          content: "\f058";
          
          color:green ;  
          margin-left: -2rem;   
          // content: "\f057";
          // content: "\f01a";
            margin-right:8px;
        }
        //   background-color: cornflowerblue;
           .visitar {
        // padding: 0.2rem;
        // background-color: red;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        color: $azul;
        font-size: 2rem;
        .fa-share {
          color: green;
          font-size: 3rem;
          display: block;
          text-decoration: none;
          margin-left: 1rem;
          animation-name: parpadeo;
          animation-duration: 1s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          -webkit-animation-name: parpadeo;
          -webkit-animation-duration: 2s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
        }
        .fa-share:hover {
          transition: 0.5s;

          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
          transform: scale(1.5);
        }
      }
    }
    }

    //   .titaniumGamers{
    //     // display: none;

    //   }

    //  .titaniumGamers:focus{
    //    display: block;
    //  }
    //   .tiendaTitanium {
    //     display: none;
    //   }
    //   .tiendaTitanium:focus{
    //     display: block;
    //   }
    // .primeroscoc {
    //   display: none;
    // }
    // .guerrasOnline:focus{
    //   display: block;
    // }
    //   .guerrasOnline {
    //     display: none;
    //   }
    //   .guerrasOnline:focus{
    //     display: block;
    //   }

    .titaniumGamers {
      .titulo {
        background: {
          image: url("../../../assets/images/banners/vinewood.jpg");
          position: center;
          size: cover;
        }
        h1 {
          -webkit-text-fill-color: #e3e4e5;
          -webkit-text-stroke: 1px black;
          //height: 0 auto;
          // -webkit-text-stroke: 0.05rem black;
          //  text-shadow: 0.1em 0.1em brown;
          // color: #e3e4e5;
          font: {
            family: titanium;
            size: 4rem;
          }
          // background-color: chocolate;
        }
      }
    }
    .tiendaTitanium {
      .titulo {
        background: {
          image: url("../../../assets/images/banners/TitaniumRoleplay.png");
          position: center;
          size: cover;
        }
        h1 {
          -webkit-text-fill-color: #8a9597;
          -webkit-text-stroke: 1px black;
          -webkit-text-stroke: 0.05rem black;
          font: {
            family: titanium;
            size: 4rem;
          }
        }
      }
    }
    .primeroscoc,
    .guerrasOnline {
      .titulo {
        background: {
          image: url("../../../assets/images/banners/primeros.jpg");
          position: center;
          size: cover;
        }
        h1 {
          -webkit-text-fill-color: orange;
          -webkit-text-stroke: 1px black;
          height: 0 auto;
          -webkit-text-stroke: 0.05rem black;
          text-shadow: 0.1em 0.1em brown;
          font: {
            family: supercell;
            //size: 5rem;
            //width: calc(1rem + 3vw);

            //size: 4rem;
          }
        }
      }
      .descripcion {
        p {
          color: white;
          a {
            text-decoration: none;
            color: gold;
          }
          i {
            color: gold;
          }
          .fa-undo-alt {
            color: red;
            left: 0px;
          }
        }
      }
    }
    .guerrasOnline {
      .titulo {
        background: {
          image: url("../../../assets/images/banners/guerrasonline.jpg");
          position: center;
          size: cover;
        }
        h1 {
          -webkit-text-fill-color: gold;
        }
      }
    }
  }
  @media only screen and (max-width: 700px) {
    .primeroscoc,
    .guerrasOnline,
    .tiendaTitanium,
    .titaniumGamers,
    .portfolio {
      // grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5];
      // grid-template-rows: [y0] 0.5fr [y1] 1fr [y2] 0.05fr [y3];
      .titulo {
        // grid-column: x0 / x5;
        // grid-row: y0 / y1;
        // background-color: pink;
        h1 {
          display: flex;
          align-self: center;
          justify-content: center;
          margin: 1rem;
          font: {
            //size: 5rem;
          }
        }
      }
      .descripcion {
        // grid-column: x0 / x5;
        // grid-row: y1 / y2;
        //  p {
        //   background-color: cornflowerblue;
        //   }
        //   background-color: cornflowerblue;
      }
      .visitar {
        // grid-column: x0 / x5;
        // grid-row: y2 / y3;
        //background-color: red;
      }
    }
  }
}
// .separador {
//     margin: 3rem;
//     // height: 10rem;
//     width: 100%;
// }
